n8n-pipeline/n8n-config/workflows/shg-story-generator.json
{
  "updatedAt": "2026-05-23T20:59:07.514Z",
  "createdAt": "2026-05-23T09:43:46.298Z",
  "id": "iKNT46tAjFqf0OM5",
  "name": "SHG-Story-Generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shg-story",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "id": "webhook-trigger",
      "name": "Webhook: Geschichte anfordern",
      "position": [
        240,
        512
      ],
      "webhookId": "987468f1-49ec-40ca-b37a-ab328da2f404"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Eingabe-Pipeline für Carol-Gray-Social-Stories.\n//\n// Liest die vier Webhook-Felder (Titel, Situation, Verhaltensziel, Altersgruppe)\n// und bereitet alles vor, was die downstream Nodes brauchen:\n//  - slug (deterministisch hashbasiert, gleiche Eingabe -> gleiche Datei)\n//  - imageStylePositive/Negative (fest „Traumwelt\", einziger Bildstil)\n//  - imageCount = 5 (Hero-Bild + 4 Inline-Bilder zwischen den Absätzen)\n//  - description (kurze Variante der Situation für SEO-Meta-Tag)\n//  - userPrompt (Variablen-Block für den Carol-Gray-Autor-LLM-Node)\n//\n// Alle Lesekumpel-Konzepte (Persona, Neurotyp, Bildstil-Auswahl, mitBildern,\n// Persona-Meta-Map mit Wortzahlen/Tempus/Avataren) sind entfernt — der Workflow\n// produziert ausschließlich Carol-Gray-Social-Stories.\n\nconst webhookInput = $('Webhook: Geschichte anfordern').first().json;\nconst input = webhookInput.body || webhookInput;\n\nconst title = (input['Titel'] || '').trim();\nconst situation = (input['Situation'] || '').trim();\nconst verhaltensziel = (input['Verhaltensziel'] || '').trim();\nconst altersgruppeRaw = (input['Altersgruppe'] || 'allgemein').trim().toLowerCase();\n\nconst ALLOWED_ALTERSGRUPPEN = ['vorschule', 'grundschule', 'teenager', 'junge-erwachsene', 'erwachsene'];\nconst altersgruppe = ALLOWED_ALTERSGRUPPEN.includes(altersgruppeRaw) ? altersgruppeRaw : 'allgemein';\n\n// Slug — deterministisch via DJB2-Hash. Gleicher Titel + Situation + Altersgruppe\n// -> gleicher Slug -> gleiche Dateipfade (Idempotenz bei Caller-Retry).\nconst umlautMap = { 'ä': 'ae', 'ö': 'oe', 'ü': 'ue', 'ß': 'ss', 'Ä': 'ae', 'Ö': 'oe', 'Ü': 'ue' };\nconst slugBase = (title.toLowerCase()\n  .replace(/[äöüßÄÖÜ]/g, c => umlautMap[c] || c)\n  .replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '').replace(/-+/g, '-')\n  .substring(0, 55) || 'neue-geschichte');\nconst slugInput = title + '|' + situation + '|' + altersgruppe;\nlet _h = 5381;\nfor (let i = 0; i < slugInput.length; i++) { _h = ((_h * 33) ^ slugInput.charCodeAt(i)) | 0; }\nconst slugSuffix = ((_h >>> 0).toString(36) + '0000').substring(0, 4);\nconst slug = slugBase + '-' + slugSuffix;\n\n// Bildstil ist fest „Aquarell\" — warmes, kinderbuchartiges Handgemalt-Gefühl\n// (Beatrix Potter / Quentin Blake). Sorgt für visuelle Konsistenz über alle\n// Stories. Frühere Wahl „Traumwelt\" produzierte mit ihren großen Anime-Augen\n// und kühlem Rim-Light teils distanziert/melancholisch wirkende Gesichter.\nconst imageStylePositive = \"traditional children's book watercolor illustration, hand-painted with warm cream paper texture filling the entire image, soft pastel palette, gentle wet-on-wet washes with visible bleeding edges, loose expressive brush strokes, soft painterly rendering, warm friendly facial expressions, inspired by Beatrix Potter and Quentin Blake, consistent palette and brush handling across all panels of this story, same character proportions and facial features in every panel, full bleed composition extending to all four image edges, no inner framing, subjects and background reach every corner of the image, square 1:1 aspect ratio\";\nconst imageStyleNegative = \"no text, no watermarks, no labels, no tags, no annotations, no nameplates, no UI overlays, no callouts, no captions, no speech bubbles, no sign text, no alphanumeric text in image, no letterboxing, no black bars, no white margin, no cream margin, no paper border, no inner matte, no mat board, no illustration frame, no vignette, no aspect-ratio padding, no hard black outlines, no digital vector look, no CGI, no 3D shading, no photorealism, no extra limbs, no duplicate props, no floating objects, no mixed art styles, no style drift, no oversized anime eyes, no rim lighting, no eerie atmosphere, no melancholic faces\";\n\nconst imageCount = 5;\n\n// Alter & Geschlecht der Hauptfigur (\"Ich\") für die Bildgenerierung deterministisch\n// festlegen. Ohne diese explizite Vorgabe interpretiert der Story-Elemente-Extraktor\n// das Alter aus dem Story-Text-Kontext (oft falsch: alle Stories landeten bei 8 J.)\n// und wählt das Geschlecht aus seinem Trainingsbias (fast immer männlich).\n//\n// Alter pro Altersgruppe (Mitte des Bereichs):\nconst AGE_MAP = {\n  'vorschule': 5,\n  'grundschule': 9,\n  'teenager': 15,\n  'junge-erwachsene': 23,\n  'erwachsene': 38,\n  'allgemein': 9\n};\nconst mainCharacterAge = AGE_MAP[altersgruppe] || 9;\n\n// Geschlecht: optional per Webhook-Feld \"Hauptfigur\" überschreibbar, sonst\n// deterministische Rotation über alle 3 Gender, basierend auf Slug-Hash.\nconst hauptfigurInput = (input['Hauptfigur'] || '').toString().trim().toLowerCase();\nlet mainCharacterGender;\nif (/m[aä]dchen|frau|weibl/.test(hauptfigurInput))                mainCharacterGender = 'female';\nelse if (/junge|mann|männl|maennl/.test(hauptfigurInput))         mainCharacterGender = 'male';\nelse if (/nicht.?binär|nicht.?binaer|non.?binary|nb/.test(hauptfigurInput)) mainCharacterGender = 'non-binary';\nelse {\n  const GENDERS = ['female', 'male', 'non-binary'];\n  mainCharacterGender = GENDERS[Math.abs(_h) % GENDERS.length];\n}\n\n// SEO-Beschreibung: erste 140 Zeichen der Situation, an Wortgrenze geschnitten.\nfunction shortDesc(text, maxLen) {\n  const s = String(text || '').replace(/\\s+/g, ' ').trim();\n  if (s.length <= maxLen) return s;\n  const cut = s.substring(0, maxLen);\n  const lastSpace = cut.lastIndexOf(' ');\n  return (lastSpace > maxLen * 0.6 ? cut.substring(0, lastSpace) : cut).trimEnd() + '…';\n}\nconst description = shortDesc(situation, 140);\n\n// User-Prompt für den Carol-Gray-Autor-LLM. Der System-Prompt (siehe\n// n8n-pipeline/prompts/carol-gray-autor.md) liefert die Methodik-Regeln;\n// hier kommen nur die situationsspezifischen Variablen rein.\nconst userPrompt = [\n  `Titel: \"${title}\"`,\n  '',\n  `Situation: ${situation}`,\n  '',\n  `Verhaltensziel: ${verhaltensziel}`,\n  '',\n  `Altersgruppe: ${altersgruppe}`,\n  '',\n  'Schreibe jetzt die Social Story:',\n  '- 200 bis 300 Wörter insgesamt',\n  '- genau 6 Absätze, jeweils durch eine Leerzeile getrennt',\n  '- Ich-Perspektive, Präsens',\n  '- max. 1 bis 2 DIREKTIV-Sätze in der ganzen Geschichte',\n  '- folge dem Story-Bogen aus deinem System-Prompt'\n].join('\\n');\n\nconst today = new Date().toISOString().slice(0, 10);\n\nreturn {\n  json: {\n    title,\n    situation,\n    verhaltensziel,\n    altersgruppe,\n    slug,\n    imageCount,\n    imageStylePositive,\n    imageStyleNegative,\n    description,\n    userPrompt,\n    mainCharacterAge,\n    mainCharacterGender,\n    date: today\n  }\n};\n"
      },
      "id": "prepare-data",
      "name": "Daten vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        512
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $('Daten vorbereiten').first().json;\nconst responseText = $input.item.json.text || $input.item.json.output || '';\n\n// Tolerant label matcher — accepts Markdown markers (# ## ### ** **), with or without colon,\n// with or without German hyphenation (GE-SCHICH-TE, ZU-SAM-MEN-FAS-SUNG).\n// Returns both the label-START position (cuts previous section) and label-END position (content start).\nfunction findLabelPositions(text, labelPattern) {\n  const re = new RegExp(\"(?:#{1,3}\\\\s*|\\\\*\\\\*\\\\s*)?\" + labelPattern + \"(?::|\\\\s)\\\\s*\\\\*?\\\\*?\", \"i\");\n  const m = text.match(re);\n  if (!m) return null;\n  return { start: m.index, end: m.index + m[0].length };\n}\nconst geschPattern = \"GE\\\\s*-?\\\\s*SCHICH\\\\s*-?\\\\s*TE\";\nconst zusamPattern = \"ZU\\\\s*-?\\\\s*SAM\\\\s*-?\\\\s*MEN\\\\s*-?\\\\s*FAS\\\\s*-?\\\\s*SUNG\";\nconst gesch = findLabelPositions(responseText, geschPattern);\nconst zusam = findLabelPositions(responseText, zusamPattern);\n\nlet rawStory, summaryText;\nif (gesch && zusam && zusam.start > gesch.end) {\n  rawStory = responseText.substring(gesch.end, zusam.start).trim();\n  summaryText = responseText.substring(zusam.end).trim();\n} else if (gesch) {\n  rawStory = responseText.substring(gesch.end).trim();\n  summaryText = '';\n} else {\n  rawStory = responseText.trim();\n  summaryText = '';\n}\n\n// Strip residual Markdown from both blocks (LLM may sometimes emit # or ** despite instructions)\nfunction cleanMarkdown(s) {\n  return s\n    .replace(/^[#*]+\\s*/gm, '')\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '$1')\n    .replace(/\\*([^*]+)\\*/g, '$1')\n    .trim();\n}\nrawStory = cleanMarkdown(rawStory);\nsummaryText = cleanMarkdown(summaryText) || rawStory.split('\\n')[0];\n\n// ═══════════════════════════════════════════════════\n// Deutsche Silbentrennung v2 (Digraphen-aware)\n// ═══════════════════════════════════════════════════\n\nfunction silbentrennung(wort) {\n  if (wort.length <= 3) return wort;\n  if (!/^[a-zäöüß]+$/i.test(wort)) return wort;\n  \n  const w = wort.toLowerCase();\n  \n  // Schritt 1: Wort in Einheiten zerlegen (Digraphen als eine Einheit)\n  const einheiten = [];\n  let i = 0;\n  while (i < w.length) {\n    // Trigraph: sch\n    if (i + 2 < w.length && w.substring(i, i + 3) === 'sch') {\n      einheiten.push({ text: w.substring(i, i + 3), typ: 'K', pos: i, len: 3 });\n      i += 3; continue;\n    }\n    // Digraphen: ch, ck, ph, th, qu, pf, ng, nk\n    const zwei = i + 1 < w.length ? w.substring(i, i + 2) : '';\n    if (['ch', 'ck', 'ph', 'th', 'qu', 'pf'].includes(zwei)) {\n      einheiten.push({ text: zwei, typ: 'K', pos: i, len: 2 });\n      i += 2; continue;\n    }\n    // Doppelvokale: ei, au, eu, äu, ie, ai\n    if (['ei', 'au', 'eu', 'äu', 'ie', 'ai'].includes(zwei)) {\n      einheiten.push({ text: zwei, typ: 'V', pos: i, len: 2 });\n      i += 2; continue;\n    }\n    // Einzelbuchstabe\n    const vokal = 'aeiouyäöü'.includes(w[i]);\n    einheiten.push({ text: w[i], typ: vokal ? 'V' : 'K', pos: i, len: 1 });\n    i++;\n  }\n  \n  // Schritt 2: Vokalgruppen finden (aufeinanderfolgende V-Einheiten)\n  const vokalIndices = [];\n  for (let e = 0; e < einheiten.length; e++) {\n    if (einheiten[e].typ === 'V') {\n      // Gehört zur vorherigen Vokalgruppe?\n      if (vokalIndices.length > 0 && vokalIndices[vokalIndices.length - 1].end === e) {\n        vokalIndices[vokalIndices.length - 1].end = e + 1;\n      } else {\n        vokalIndices.push({ start: e, end: e + 1 });\n      }\n    }\n  }\n  \n  if (vokalIndices.length < 2) return wort;\n  \n  // Schritt 3: Trennstellen zwischen Vokalgruppen\n  const trennstellen = [];\n  for (let v = 0; v < vokalIndices.length - 1; v++) {\n    const nachVokal = vokalIndices[v].end;       // erste Konsonant-Einheit nach Vokal\n    const vorVokal = vokalIndices[v + 1].start;  // erste Vokal-Einheit der nächsten Silbe\n    const anzahlKons = vorVokal - nachVokal;\n    \n    let trennEinheit;\n    if (anzahlKons === 0) {\n      // Vokal-Vokal: trenne dazwischen\n      trennEinheit = nachVokal;\n    } else if (anzahlKons === 1) {\n      // 1 Konsonant(engruppe): gehört zur nächsten Silbe\n      trennEinheit = nachVokal;\n    } else {\n      // 2+ Konsonanten: letzter Konsonant (oder letzte Digraph-Einheit) zur nächsten Silbe\n      trennEinheit = vorVokal - 1;\n      \n      // st bleibt zusammen (st gehört zur nächsten Silbe)\n      if (anzahlKons >= 2) {\n        const vorletzte = einheiten[vorVokal - 2];\n        const letzte = einheiten[vorVokal - 1];\n        if (vorletzte.text === 's' && letzte.text === 't') {\n          trennEinheit = vorVokal - 2;\n        }\n      }\n    }\n    \n    // Position im Original-Wort\n    const charPos = einheiten[trennEinheit].pos;\n    if (charPos > 0 && charPos < wort.length) {\n      trennstellen.push(charPos);\n    }\n  }\n  \n  // Schritt 4: Wort zusammenbauen\n  if (trennstellen.length === 0) return wort;\n  \n  let ergebnis = '';\n  let letzte = 0;\n  for (const pos of trennstellen) {\n    ergebnis += wort.substring(letzte, pos) + '-';\n    letzte = pos;\n  }\n  ergebnis += wort.substring(letzte);\n  \n  return ergebnis;\n}\n\nfunction textSilbentrennung(text) {\n  return text.replace(/[a-zäöüßA-ZÄÖÜ]{4,}/g, (wort) => silbentrennung(wort));\n}\n\nconst storyText = textSilbentrennung(rawStory);\nconst wordCount = rawStory.split(/\\s+/).length;\n\nreturn { json: { ...input, storyText, rawStoryText: rawStory, summaryText, wordCount } };"
      },
      "id": "parse-story",
      "name": "Geschichte parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        704
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.sceneUserPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a prompt compiler for a children's book illustrator. Your job is to fill slot templates.\n\nRULES — every scene MUST satisfy all 6 checks:\n1. Spatial relation is explicit (ON / NEXT-TO / BEHIND / IN-FRONT-OF / HELD-BY).\n2. Every named prop in the scene has a hand slot (left / right / both / none).\n3. Every person has an explicit age that matches the story.\n4. Only include people named in the story. Do not invent extra characters.\n5. Every named character who appears in the scene MUST wear the exact clothing colors and items specified in CHARACTER REFERENCE. Repeat the clothing description verbatim in the scene prompt.\n6. Each named character appears AT MOST ONCE per scene. Never show the same character twice in the same image.\n\nONE MOMENT RULE: Each scene depicts EXACTLY ONE moment from the story. Never combine two different moments (e.g. 'flying the plane' AND 'eating a döner') into one image. When multiple scenes exist, distribute them across the story arc (beginning / middle / end).\n\nINVARIANTS: SCENE INVARIANTS in the user prompt apply to EVERY scene as global constraints (character count, ages, paired-prop counts). They do NOT describe a specific moment; do not pack multiple invariants' actions into the same image.\n\nVARIATION RULE: change camera angle and setting between scenes. Keep character appearance identical (hair, clothing, skin, age, build) across all scenes of the same story.\n\nSTYLE RULE: The art style prefix is identical verbatim across all scenes of the same story.\n\nTEXT RULE: The scene prompt you output must use natural English prose only. Never include bracketed role tags like [right hand], never use alphanumeric quantity suffixes like x1 / x2 / x3. Describe quantities with words (one, two, three). The final image must contain NO artificial labels, UI overlays, callouts, or speech bubbles.\n\nASPECT RULE: Every scene is a square 1:1 full-bleed composition — the artwork extends all the way to every image edge. Never describe white margins, paper borders, inner mattes, illustration frames, or vignettes. The subject and background must reach all four corners of the image.\n\nOutput ONLY the JSON array, no markdown, no explanations."
            }
          ]
        },
        "batching": {}
      },
      "id": "agent-szenen",
      "name": "🎨 Szenen-Extraktor",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        4112,
        704
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2,
          "topP": 0.8
        }
      },
      "id": "llm-szenen",
      "name": "⚙️ Gemini (Szenen)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4112,
        880
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Bildszenen vorbereiten').first().json;\nif (prevData.skipImages || prevData.imageCount === 0) {\n  return [{ json: { ...prevData, _skipLoop: true } }];\n}\n\nconst prev = $('Bildszenen vorbereiten').first().json;\nconst rawText = $input.first().json.text || '';\nconst visualLock = prev.visualLock || prev.characterReference || '';\n\n// Lead-Block: erzwingt full-bleed-Komposition am Promptanfang (Modelle gewichten Anfang stärker)\nconst fullBleedMandate = [\n  'FULL-BLEED MANDATE: This is a poster-style full-bleed illustration.',\n  'The painted scene fills 100% of pixels from corner to corner of the image.',\n  'Background paint and scene elements extend BEYOND all four image edges.',\n  'There is no border, no margin, no white space, no matte, no frame, no rounded corners.',\n  'Imagine a giant poster cropped tight to the artwork — every pixel is painted scene.'\n].join(' ');\n\n// safetyContext bleibt type-aware (Mensch+Tier-Kombination braucht andere Clothing-Klausel)\nconst _hasNonHuman = !!prev.hasNonHumanCharacter;\nconst _clothingClause = _hasNonHuman\n  ? 'human characters are fully clothed in everyday outfits, animal characters are real animals with no clothing and no costume'\n  : 'fully clothed characters in everyday outfits';\nconst safetyContext = \"Wholesome G-rated illustration for a published German children's picture book, age-appropriate storybook art, \" + _clothingClause;\nconst safetyNegative = 'no swimwear, no swimsuit, no bikini, no underwear, no nudity, no bare torso, no exposed skin beyond face and hands, no animals depicted as humans, no children wearing animal costumes';\n\n// Frame-Bias-Negationen (zusätzlich zum imageStyleNegative)\nconst frameNegative = 'no canvas border, no torn paper edge, no rounded corners, no shadow box, no drop shadow around image, no decorative frame, no book page edge, no album cover frame, no inset background, no centered medallion composition, no white halo around subject';\n\nconst imageStylePositive = prev.imageStylePositive || \"children's book illustration, consistent rendering across all panels\";\nconst imageStyleNegative = prev.imageStyleNegative || \"no text, no watermarks, no extra limbs\";\n\nlet scenes = [];\ntry { const m = rawText.match(/\\[[\\s\\S]*\\]/); if (m) scenes = JSON.parse(m[0]); } catch(e) {}\n\nif (!Array.isArray(scenes) || scenes.length === 0) {\n  // Fallback: single generic scene\n  scenes = [{\n    scene: 1,\n    momentSummary: 'A friendly scene from the story',\n    action: 'standing',\n    pose: 'natural relaxed pose',\n    camera: 'eye-level medium shot',\n    characters_present: [],\n    props_shown: [],\n    setting_focus: '',\n    mood: 'warm'\n  }];\n}\n\nfunction clean(s) { return (s == null ? '' : String(s)).trim(); }\nfunction has(s) { return clean(s).length > 0; }\n\nreturn scenes.map(s => {\n  const sceneNo  = (typeof s.scene === 'number' && s.scene > 0) ? s.scene : 1;\n  const summary  = clean(s.momentSummary) || 'A moment from the story';\n  const action   = clean(s.action) || 'standing';\n  const pose     = clean(s.pose)   || 'natural relaxed pose';\n  const camera   = clean(s.camera) || 'eye-level medium shot';\n  const chars    = Array.isArray(s.characters_present) ? s.characters_present.filter(has) : [];\n  const props    = Array.isArray(s.props_shown) ? s.props_shown.filter(p => p && has(p.name)) : [];\n  const setFocus = clean(s.setting_focus);\n  const mood     = clean(s.mood) || 'warm';\n\n  const propsLine = props.length > 0\n    ? props.map(p => `${clean(p.name)} (${clean(p.hand) || 'in hand'})`).join(', ')\n    : 'no held props this scene';\n  const charsLine = chars.length > 0 ? chars.join(', ') : 'characters from VISUAL LOCK';\n\n  const sceneBlock = [\n    `SCENE ${sceneNo}: ${summary}`,\n    `  Action:        ${action}`,\n    `  Pose:          ${pose}`,\n    `  Camera:        ${camera}`,\n    `  In frame:      ${charsLine}`,\n    `  Props shown:   ${propsLine}`,\n    setFocus ? `  Setting focus: ${setFocus}` : '',\n    `  Mood:          ${mood}`\n  ].filter(Boolean).join('\\n');\n\n  // Finaler Prompt: FULL-BLEED Lead → safetyContext → VISUAL LOCK → SCENE → STYLE → NEGATIVE\n  const positiveSections = [\n    fullBleedMandate,\n    safetyContext + '.',\n    visualLock,\n    sceneBlock,\n    'ART STYLE: ' + imageStylePositive\n  ].filter(Boolean);\n  const positive = positiveSections.join('\\n\\n');\n\n  const fullNegative = [imageStyleNegative, safetyNegative, frameNegative].filter(has).join(', ');\n  const finalPrompt  = positive + '\\n\\n| NEGATIVE: ' + fullNegative;\n\n  // paragraphIndex vom AI-Output durchreichen — wird im HTML-Assembler genutzt,\n  // um Bilder zwischen den richtigen Absätzen zu platzieren.\n  const paragraphIndex = (typeof s.paragraphIndex === 'number' && s.paragraphIndex >= 1) ? s.paragraphIndex : null;\n\n  return {\n    json: {\n      ...prev,\n      sceneIndex: sceneNo,\n      paragraphIndex,\n      imagePrompt: finalPrompt,\n      imageFilename: prev.slug + '-' + sceneNo + '.png',\n      imageGithubPath: 'social-stories/bilder/' + prev.slug + '-' + sceneNo + '.png',\n      geminiRequestBody: {\n        contents: [{ role: 'user', parts: [{ text: finalPrompt }] }],\n        generationConfig: { responseModalities: ['image', 'text'] }\n      }\n    }\n  };\n});\n"
      },
      "id": "parse-scenes",
      "name": "Szenen parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4368,
        704
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/RaLa84/ass-elternkreis-nwm/main/n8n-pipeline/n8n-config/demo-template.html",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "id": "fetch-template",
      "name": "GitHub: Template laden",
      "position": [
        4832,
        864
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// HTML-Assembler für SHG Social-Stories.\n// Baut aus Story-Text + Bild-Positionen ein fertiges Article-HTML zusammen,\n// das vom n8n-Workflow ins SHG-Repo gepusht wird (social-stories/<altersgruppe>/<slug>.html).\n// Lesekumpel-spezifische Features (Quiz, Schatzsuche, Weitererzählen, Wortschatz,\n// Persona-Avatar, Emoji-Versionen) sind im neuen SHG-Template nicht mehr enthalten\n// und werden hier deshalb ignoriert, selbst wenn die vorgeschalteten Workflow-Nodes\n// sie noch liefern.\n\nconst data = $('Geschichte parsen').first().json;\nlet template = $input.item.json.data;\n\nconst SITE_BASE = 'https://www.ass-elternkreis-nwm.de';\nconst altersgruppe = (data.altersgruppe || 'allgemein').toString().trim().toLowerCase();\nconst slug = (data.slug || 'neue-geschichte').toString();\nconst storyPath = `social-stories/${altersgruppe}/${slug}.html`;\nconst today = new Date().toISOString().slice(0, 10);\nconst storyDate = (data.date || today).toString().slice(0, 10);\n\nfunction htmlEscape(s) {\n  return String(s ?? '')\n    .replace(/&/g, '&amp;').replace(/\"/g, '&quot;')\n    .replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\n\n// SEO-Beschreibung: aus description, ohne Lesekumpel-Präfixe.\nconst descRaw = (data.description || data.title || '').toString().trim();\nconst metaDescription = descRaw.length > 157 ? descRaw.substring(0, 157).trimEnd() + '…' : descRaw;\nconst metaKeywords = ['Soziale Geschichte', 'Autismus', 'ASS', 'Carol Gray', data.genre, data.title]\n  .filter(Boolean).join(', ');\n\n// Hero = scene 1. Inline-Bilder ab scene 2 (verhindert Doppelung).\nconst heroImageUrl = `${SITE_BASE}/social-stories/bilder/${slug}-1.png`;\nconst imageCount = Number(data.imageCount || 0);\n\n// imagePositions baue ich aus den Szenen-Items zusammen — jedes Szene-Item kommt\n// aus 'Szenen parsen' und enthält sceneIndex + paragraphIndex (sofern AI ihn lieferte).\n// paragraphIndex ist 0-basiert; per Konvention >= 1 (Story beginnt immer mit Prosa).\n// Bild scene 1 ist als geblurrtes Hero-Bild ZUSÄTZLICH oben — die klare Inline-Version\n// folgt unten an der vom AI gewählten paragraphIndex-Position.\nconst positionsByParagraph = new Map();\ntry {\n  const sceneItems = $('Szenen parsen').all() || [];\n  for (const item of sceneItems) {\n    const j = item.json || {};\n    const scene = j.sceneIndex;\n    const pIdx = j.paragraphIndex;\n    if (typeof scene === 'number' && scene >= 1 && scene <= imageCount &&\n        typeof pIdx === 'number' && pIdx >= 1) {\n      positionsByParagraph.set(pIdx, scene);\n    }\n  }\n} catch (e) { /* fallback regelt das */ }\n\n// Silbentrennung entfernen: Sicherheitsnetz, falls die LLM trotz Prompt-Verbot\n// doch Häppchen-Trennung produziert (Lesekumpel-Erbe im Gemini-Trainingskontext).\nfunction removeHyphenation(s) {\n  const pat = /([a-zäöüßA-ZÄÖÜ])-([a-zäöüß])/g;\n  let prev;\n  do { prev = s; s = s.replace(pat, '$1$2'); } while (prev !== s);\n  return s;\n}\nconst paragraphs = (data.storyText || '').toString().split(/\\n\\n+/)\n  .map(p => removeHyphenation(p.trim()))\n  .filter(Boolean);\nlet storyHtml = '';\nfor (let i = 0; i < paragraphs.length; i++) {\n  if (positionsByParagraph.has(i)) {\n    const scene = positionsByParagraph.get(i);\n    const imgUrl = `${SITE_BASE}/social-stories/bilder/${slug}-${scene}.png`;\n    storyHtml += `          <img src=\"${imgUrl}\" alt=\"${htmlEscape(data.title)} – Bild ${scene}\" loading=\"lazy\">\\n`;\n  }\n  storyHtml += `          <p>${htmlEscape(paragraphs[i])}</p>\\n`;\n}\n// Falls keine Position-Mappings vorhanden: alle Bilder ab scene 1 ans Ende, damit nichts verloren geht.\nif (positionsByParagraph.size === 0 && imageCount >= 1) {\n  for (let scene = 1; scene <= imageCount; scene++) {\n    const imgUrl = `${SITE_BASE}/social-stories/bilder/${slug}-${scene}.png`;\n    storyHtml += `          <img src=\"${imgUrl}\" alt=\"${htmlEscape(data.title)} – Bild ${scene}\" loading=\"lazy\">\\n`;\n  }\n}\n\ntemplate = template\n  .replace(/\\{\\{STORY_TITLE\\}\\}/g, htmlEscape(data.title || ''))\n  .replace(/\\{\\{STORY_HTML\\}\\}/g, storyHtml.trimEnd())\n  .replace(/\\{\\{HERO_IMAGE_URL\\}\\}/g, heroImageUrl)\n  .replace(/\\{\\{META_DESCRIPTION\\}\\}/g, htmlEscape(metaDescription))\n  .replace(/\\{\\{META_KEYWORDS\\}\\}/g, htmlEscape(metaKeywords))\n  .replace(/\\{\\{STORY_PATH\\}\\}/g, storyPath)\n  .replace(/\\{\\{STORY_DATE\\}\\}/g, htmlEscape(storyDate))\n  .replace(/\\{\\{SLUG\\}\\}/g, slug);\n\n// Safety-Net: verbliebene Platzhalter loggen und auf '' stripen\nconst residuals = template.match(/\\{\\{[A-Z_]+\\}\\}/g);\nif (residuals) {\n  const unique = [...new Set(residuals)];\n  console.warn('HTML assemblieren: unresolved placeholders ->', unique.join(', '));\n  template = template.replace(/\\{\\{[A-Z_]+\\}\\}/g, '');\n}\n\nconst htmlBase64 = Buffer.from(template, 'utf8').toString('base64');\nconst storyUrl = `${SITE_BASE}/${storyPath}`;\n\nreturn {\n  json: {\n    ...data,\n    htmlBase64,\n    filePath: storyPath,\n    commitMessage: `Social Story: ${data.title || slug}`,\n    storyUrl\n  }\n};\n"
      },
      "id": "assemble-html",
      "name": "HTML assemblieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5056,
        864
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "RaLa84",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ass-elternkreis-nwm",
          "mode": "list",
          "cachedResultName": "ass-elternkreis-nwm",
          "cachedResultUrl": "https://github.com/RaLa84/ass-elternkreis-nwm"
        },
        "filePath": "={{ $json.filePath }}",
        "fileContent": "={{ $json.htmlBase64 }}",
        "commitMessage": "={{ $json.commitMessage }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "id": "commit-html",
      "name": "GitHub: HTML committen",
      "position": [
        5280,
        864
      ],
      "webhookId": "a24009a2-58fa-4d0a-87cf-7cb2b0b96dde",
      "credentials": {
        "githubOAuth2Api": {
          "id": "WBP07xjckQiul5s7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('HTML assemblieren').first().json;\nreturn { json: { status: 'success', storyTitle: data.title, personaName: data.personaName, stufe: data.stufe, wordCount: data.wordCount, imageCount: data.imageCount, storyUrl: data.storyUrl } };\n"
      },
      "id": "build-result",
      "name": "Ergebnis aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5488,
        864
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { status: \"success\", storyTitle: $input.item.json.storyTitle, storyUrl: $input.item.json.storyUrl, personaName: $input.item.json.personaName, stufe: $input.item.json.stufe, wordCount: $input.item.json.wordCount } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "form-response",
      "name": "Webhook-Antwort",
      "position": [
        5712,
        864
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $input.item.json;\n\n// Hard constraints für die Hauptfigur kommen aus 'Daten vorbereiten':\n// mainCharacterAge (Mitte der Altersgruppe) und mainCharacterGender\n// (Webhook-Override oder deterministische Rotation über Slug-Hash).\n// Ohne diese Vorgabe würde der Extraktor das Alter aus dem Story-Text\n// raten (meistens 8) und das Geschlecht aus seinem Trainingsbias wählen\n// (fast immer männlich).\nconst mainCharAge = (typeof d.mainCharacterAge === 'number') ? d.mainCharacterAge : 9;\nconst mainCharGender = d.mainCharacterGender || 'female';\nconst HEIGHT_CATEGORY = mainCharAge < 12 ? 'child' : (mainCharAge < 19 ? 'teen' : 'adult');\n\nconst mainCharacterConstraints = [\n  'MANDATORY MAIN CHARACTER CONSTRAINTS — non-negotiable:',\n  `- The narrating \"Ich\" (storyteller, role=\"main\") MUST be exactly ${mainCharAge} years old.`,\n  `- The narrating \"Ich\" MUST be of gender: ${mainCharGender}.`,\n  `- body.heightCategory MUST be \"${HEIGHT_CATEGORY}\".`,\n  `- The character's body proportions, facial features, hair style and outfit MUST be plausible for a ${mainCharAge}-year-old ${mainCharGender} person.`,\n  '- For diversity: vary skin tone, hair color and hair style across stories — do not default to fair-skinned light-brown-haired.',\n  '- This applies even if the story text uses neutral \"ich\"/\"mein\" without explicit age or gender markers.',\n  ''\n].join('\\n');\n\nconst elementsUserPrompt = `${mainCharacterConstraints}Analyze this German children's story and extract ALL visual elements needed to illustrate it consistently and physically plausibly.\n\nOutput ONLY a JSON object (no markdown, no explanation):\n{\n  \"characters\": [\n    {\n      \"name\": \"Character name\",\n      \"type\": \"human | animal | creature | object\",\n      \"role\": \"main | supporting\",\n      \"species\": \"Required for animal/creature only — concrete species, e.g., 'European eagle owl', 'tabby cat'\",\n      \"ageYears\": 8,\n      \"body\":    { \"heightCategory\": \"child | teen | adult\", \"build\": \"slim | average | sturdy\" },\n      \"hair\":    { \"color\": \"light brown\", \"style\": \"pigtails\", \"length\": \"shoulder-length\" },\n      \"eyes\":    { \"color\": \"blue\" },\n      \"skin\":    { \"tone\": \"fair\" },\n      \"outfit\":  {\n        \"top\":         \"yellow t-shirt with small rocket print on the front\",\n        \"bottom\":      \"blue denim shorts ending above the knee\",\n        \"footwear\":    \"white sneakers with red laces\",\n        \"accessories\": \"none\"\n      },\n      \"fur\":     { \"color\": \"tabby brown with darker stripes\", \"pattern\": \"mackerel tabby\" },\n      \"distinguishingFeatures\": []\n    }\n  ],\n  \"props\": [\n    {\n      \"name\": \"Item name\",\n      \"color\": \"metallic gold and red\",\n      \"material\": \"glossy cardstock\",\n      \"size\": \"trading-card size\",\n      \"shape\": \"rectangular\",\n      \"count\": 1,\n      \"heldBy\": \"Character name or null\",\n      \"heldIn\": \"left hand | right hand | both hands | none\"\n    }\n  ],\n  \"setting\": {\n    \"location\":       \"sunny sandy beach by the sea\",\n    \"timeOfDay\":      \"midday\",\n    \"weather\":        \"clear blue sky, gentle breeze\",\n    \"lightDirection\": \"sunlight from upper right (shadows fall to lower left)\"\n  },\n  \"sceneRules\": [\n    \"Each rule is ONE English sentence stating a GLOBAL INVARIANT valid in EVERY scene of the story (not a specific moment or action).\"\n  ]\n}\n\nSlot rules (MANDATORY):\n\nCHARACTERS — common fields:\n- \"type\" is REQUIRED with EXACTLY one of: \"human\", \"animal\", \"creature\", \"object\".\n- \"role\" is REQUIRED (\"main\" or \"supporting\").\n- \"distinguishingFeatures\" is an array of short English strings — empty array if none.\n\nCHARACTERS — type=\"human\":\n- \"ageYears\" (integer), \"body.heightCategory\" (\"child\"|\"teen\"|\"adult\"), \"body.build\" are REQUIRED.\n- \"hair\" (color, style, length), \"eyes.color\", \"skin.tone\" are REQUIRED.\n- \"outfit\" is REQUIRED with ALL FOUR sub-slots filled (top, bottom, footwear, accessories).\n  Each outfit slot describes one specific garment with color, fabric/material, distinctive detail.\n  Use \"none\" only for accessories. Top/bottom/footwear must always describe a real garment.\n- \"species\" and \"fur\" MUST be null.\n- If the story does not mention an outfit detail, INVENT ONE concrete outfit and keep it consistent.\n\nCHARACTERS — type=\"animal\":\n- \"species\" is REQUIRED (concrete real-world species).\n- \"fur\" (color, pattern) is REQUIRED. For feathered animals use \"fur\" anyway and describe plumage there.\n- \"eyes.color\" is REQUIRED. \"body.build\" describes anatomy (e.g., \"small slim cat body\").\n- \"outfit\", \"hair\", \"skin\", \"ageYears\", \"body.heightCategory\" MUST be null.\n- The animal is a REAL animal, not anthropomorphic. NEVER describe clothing or accessories.\n- Exception: only if the story text EXPLICITLY says the animal wears clothes, then fill \"outfit\".\n\nCHARACTERS — type=\"creature\":\n- \"species\" is REQUIRED (e.g., \"dragon\", \"unicorn\").\n- Fill the slots that make sense for the creature; set others to null.\n- \"outfit\" only if the creature wears garments in the story; otherwise null.\n\nCHARACTERS — type=\"object\":\n- \"ageYears\", \"body\", \"hair\", \"eyes\", \"skin\", \"outfit\", \"species\", \"fur\" MUST be null.\n- \"distinguishingFeatures\" describes material, color, shape, function in 1–3 short strings.\n\nPROPS:\n- \"count\" (integer) and \"heldIn\" REQUIRED.\n- \"color\", \"material\", \"size\", \"shape\" REQUIRED — describe so two illustrators would draw the same object.\n- \"heldBy\" is the character NAME holding the prop, or null if it sits in the setting.\n\nSETTING:\n- All four sub-slots (\"location\", \"timeOfDay\", \"weather\", \"lightDirection\") REQUIRED.\n- \"lightDirection\" describes WHERE light comes from so shadow direction stays consistent across scenes.\n\nSCENE RULES:\n- 2–4 GLOBAL INVARIANTS only. Do NOT include moment-specific actions or positions.\n- MUST always include: \"Only the characters named in the story appear; do not invent extra people or animals.\"\n- MUST always include: \"Each named character appears at most once per image.\"\n- For paired / count-specific props add an invariant fixing counts and hand assignment.\n\nCONSISTENCY:\n- If the story does not mention a visual detail, INVENT a plausible value and keep it consistent.\n- Once invented, treat it as fixed canon — do not vary it between fields.\n\nStory:\n${d.storyText}`;\nreturn { json: { ...d, elementsUserPrompt } };\n"
      },
      "id": "elements-prep",
      "name": "Story-Elemente vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        704
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.elementsUserPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist ein visueller Charakterdesigner für Kinderbücher und sorgst für physische Plausibilität.\nExtrahiere detaillierte, konsistente visuelle Beschreibungen aller Figuren, Gegenstände und Schauplätze.\n\nPFLICHT:\n- Jede Figur hat eine explizite Alterszahl (ageYears) und Größenkategorie (heightCategory).\n- Jedes Prop hat count (Anzahl) und heldIn (Hand-Slot).\n- sceneRules sind GLOBALE INVARIANTEN, die in JEDEM Bild der Story gelten müssen. KEINE moment-spezifischen Aktionen oder Positionen einer einzelnen Story-Szene (wie 'Mats sitzt im Cockpit').\n- sceneRules enthält 2-4 Invarianten-Sätze auf Englisch, z.B.:\n  - \"All human characters are 8 years old and child-sized.\"\n  - \"Only the characters named in the story appear; do not invent extra people.\"\n  - \"Each named character appears at most once per image.\"\n  - \"Paired props like shield and lance are always count=1 each; the shield is in the left hand, the lance in the right.\"\n- sceneRules enthält IMMER den Satz: \"Only the characters named in the story appear; do not invent extra people.\"\n- sceneRules enthält IMMER den Satz: \"Each named character appears at most once per image.\"\n\nAntworte NUR mit dem JSON-Objekt — kein Markdown, keine Erklärungen.\n\nDIVERSITAET (gilt nur fuer menschliche Figuren):\n- Hauptfigur explizit aus dem Story-Inhalt ableiten. Wenn die Story Geschlecht, Alter oder Aussehen nennt: woertlich uebernehmen.\n- Wenn die Story die Hauptfigur OFFEN laesst: zufaellig variieren ueber Geschlecht (Junge / Maedchen / divers), Hautton (hell / mittel / dunkel), Haarfarbe (blond / braun / schwarz / rot) und Haarlaenge.\n- Vermeide den Default \"8-jaehriges weisses Maedchen mit braunen Haaren\" - das ist der Modell-Bias und fuehrt zu identisch wirkenden Figuren ueber alle Geschichten hinweg.\n\nTIER-ONLY-REGEL bei Sachtexten und Wissens-Geschichten:\n- Wenn die Story eine Sachgeschichte ueber ein Tier ist (Delfin, Pinguin, Wal, Biene, Tintenfisch etc.) und KEINE menschliche Figur namentlich benennt: extrahiere NUR das Tier, KEINEN menschlichen Beobachter. characters[] enthaelt dann ausschliesslich Eintraege mit type=\"animal\".\n- Erfinde niemals einen menschlichen Erzaehler, Beobachter oder Forscher dazu.\n\nSETTING-PLAUSIBILITAET (zusaetzliche sceneRules bei menschlichen Figuren):\n- Wenn menschliche Figuren in der Story vorkommen, fuege zusaetzlich diese Saetze in sceneRules ein:\n  - \"Humans appear only in plausible settings; humans cannot be underwater, in lava, in outer space, or inside walls unless the story explicitly says so.\"\n  - \"If the story describes a wild animal in its habitat (ocean, polar ice, jungle), humans observe from a plausible vantage point (boat, shore, aquarium, pier) - never share the same physical space as the wild animal in its hostile environment.\""
            }
          ]
        },
        "batching": {}
      },
      "id": "agent-elements",
      "name": "🧩 Story-Elemente extrahieren",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3392,
        704
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1,
          "topP": 0.8
        }
      },
      "id": "llm-elements",
      "name": "⚙️ Gemini (Elemente)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3392,
        880
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Story-Elemente vorbereiten').first().json;\nconst rawText = $input.first().json.text || '';\n\nlet storyElements = { characters: [], props: [], setting: '', sceneRules: [] };\ntry {\n  const m = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (m) storyElements = JSON.parse(m[0]);\n} catch(e) {}\n\nif (!Array.isArray(storyElements.sceneRules)) storyElements.sceneRules = [];\nif (!Array.isArray(storyElements.characters)) storyElements.characters = [];\nif (!Array.isArray(storyElements.props))      storyElements.props      = [];\n\nconst clothingRegex = new RegExp(\"\\\\b(wearing|shirt|dress|trousers|pants|shorts|jacket|hoodie|coat|sweater|skirt|outfit|clothes|kleidung)\\\\b\", \"i\");\n\nfunction clean(s) {\n  return (s == null ? '' : String(s)).trim();\n}\nfunction has(s) { return clean(s).length > 0 && clean(s).toLowerCase() !== 'null'; }\n\nfunction indent2(s) {\n  return clean(s).split('\\n').map(l => '    ' + l).join('\\n');\n}\n\nfunction filterVisualOnlyDF(arr) {\n  // Filtert Eintraege heraus, die Verhalten/Biologie statt visueller Merkmale beschreiben.\n  // Verhaltens-Eintraege (\"One eye remains open while sleeping\") werden vom Bildmodell\n  // visuell umgesetzt und produzieren Uncanny-Valley-Artefakte.\n  const BEHAVIOR_RE = /\\b(while|when|during|whenever|always|sometimes|remains?|stays?|becomes?|sleeps?|sleeping|asleep|dreams?|dreaming|swims?|swimming|flies|flying|flew|walking|running|jumping|jumps?|dancing|dances?|sings?|singing|breathes?|breathing|breath|observes?|observing|watches?|watching|listens?|listening|hunts?|hunting|hides?|hiding|eats?|eating|drinks?|drinking|rests?|resting|awake|alert|active|asleep|half\\s*of\\s*its\\s*brain|brain\\s*rests)\\b/i;\n  return (arr || []).filter(s => {\n    const t = String(s || '').trim();\n    if (!t) return false;\n    if (BEHAVIOR_RE.test(t)) return false;\n    return true;\n  });\n}\n\nfunction buildHumanBlock(c, idx) {\n  const lines = [];\n  const name  = clean(c.name) || ('Character #' + idx);\n  const age   = (typeof c.ageYears === 'number' && c.ageYears > 0) ? (c.ageYears + '-year-old ') : '';\n  const heightCat = clean(c.body && c.body.heightCategory) || 'child';\n  const build     = clean(c.body && c.body.build) || 'average';\n  lines.push(`CHARACTER #${idx} — ${name} (${age}${heightCat}):`);\n  lines.push(`  BODY:    ${build} ${heightCat} build`);\n  if (c.hair) {\n    const h = [clean(c.hair.color), clean(c.hair.style), clean(c.hair.length)].filter(has).join(', ');\n    if (h) lines.push(`  HAIR:    ${h}`);\n  }\n  if (c.eyes && has(c.eyes.color)) lines.push(`  EYES:    ${clean(c.eyes.color)}`);\n  if (c.skin && has(c.skin.tone))  lines.push(`  SKIN:    ${clean(c.skin.tone)}`);\n\n  // OUTFIT — verbatim slots. Force fallback wenn LLM nichts geliefert hat.\n  const o = c.outfit || {};\n  let top         = clean(o.top);\n  let bottom      = clean(o.bottom);\n  let footwear    = clean(o.footwear);\n  let accessories = clean(o.accessories) || 'none';\n  if (!has(top))      top      = 'plain casual t-shirt in a neutral color';\n  if (!has(bottom))   bottom   = 'plain casual trousers';\n  if (!has(footwear)) footwear = 'simple closed shoes';\n  lines.push(`  OUTFIT (identical in every scene — never alter):`);\n  lines.push(`    TOP:         ${top}`);\n  lines.push(`    BOTTOM:      ${bottom}`);\n  lines.push(`    FOOTWEAR:    ${footwear}`);\n  lines.push(`    ACCESSORIES: ${accessories}`);\n\n  const dfArr = filterVisualOnlyDF(Array.isArray(c.distinguishingFeatures) ? c.distinguishingFeatures.filter(has) : []);\n  if (dfArr.length > 0) lines.push(`  DISTINGUISHING: ${dfArr.join('; ')}`);\n  return lines.join('\\n');\n}\n\nfunction buildAnimalBlock(c, idx) {\n  const lines = [];\n  const name    = clean(c.name) || ('Animal #' + idx);\n  const species = clean(c.species) || 'animal';\n  lines.push(`CHARACTER #${idx} — ${name} (real ${species}, anatomically accurate animal — NOT a person, NOT a child, NOT in costume, no clothing):`);\n  if (c.fur) {\n    const f = [clean(c.fur.color), clean(c.fur.pattern)].filter(has).join(', ');\n    if (f) lines.push(`  FUR/PLUMAGE: ${f}`);\n  }\n  if (c.eyes && has(c.eyes.color)) lines.push(`  EYES:        ${clean(c.eyes.color)}`);\n  if (c.body && has(c.body.build)) lines.push(`  BODY:        ${clean(c.body.build)}`);\n  const dfArr = filterVisualOnlyDF(Array.isArray(c.distinguishingFeatures) ? c.distinguishingFeatures.filter(has) : []);\n  if (dfArr.length > 0) lines.push(`  DISTINGUISHING: ${dfArr.join('; ')}`);\n  return lines.join('\\n');\n}\n\nfunction buildCreatureBlock(c, idx) {\n  const lines = [];\n  const name    = clean(c.name) || ('Creature #' + idx);\n  const species = clean(c.species) || 'fantasy creature';\n  lines.push(`CHARACTER #${idx} — ${name} (fantasy ${species}, picture-book creature):`);\n  if (c.body) {\n    const b = [clean(c.body.heightCategory), clean(c.body.build)].filter(has).join(', ');\n    if (b) lines.push(`  BODY:    ${b}`);\n  }\n  if (c.fur) {\n    const f = [clean(c.fur.color), clean(c.fur.pattern)].filter(has).join(', ');\n    if (f) lines.push(`  HIDE:    ${f}`);\n  }\n  if (c.eyes && has(c.eyes.color)) lines.push(`  EYES:    ${clean(c.eyes.color)}`);\n  if (c.outfit && (has(c.outfit.top) || has(c.outfit.bottom))) {\n    lines.push(`  OUTFIT:`);\n    if (has(c.outfit.top))    lines.push(`    TOP:    ${clean(c.outfit.top)}`);\n    if (has(c.outfit.bottom)) lines.push(`    BOTTOM: ${clean(c.outfit.bottom)}`);\n  }\n  const dfArr = filterVisualOnlyDF(Array.isArray(c.distinguishingFeatures) ? c.distinguishingFeatures.filter(has) : []);\n  if (dfArr.length > 0) lines.push(`  DISTINGUISHING: ${dfArr.join('; ')}`);\n  return lines.join('\\n');\n}\n\nfunction buildObjectBlock(c, idx) {\n  const name = clean(c.name) || ('Object #' + idx);\n  const df   = Array.isArray(c.distinguishingFeatures) ? c.distinguishingFeatures.filter(has) : [];\n  const detail = df.length > 0 ? df.join('; ') : 'inanimate object from the story';\n  return `CHARACTER #${idx} — ${name} (inanimate object): ${detail}`;\n}\n\nfunction buildCharacterBlock(c, idx) {\n  const t = (c && c.type || 'human').toString().toLowerCase();\n  if (t === 'animal')   return buildAnimalBlock(c, idx);\n  if (t === 'creature') return buildCreatureBlock(c, idx);\n  if (t === 'object')   return buildObjectBlock(c, idx);\n  return buildHumanBlock(c, idx);\n}\n\nfunction buildPropBlock(p, idx) {\n  const lines = [];\n  const name = clean(p.name) || ('Prop #' + idx);\n  lines.push(`PROP #${idx} — ${name}:`);\n  if (has(p.color))    lines.push(`  COLOR:    ${clean(p.color)}`);\n  if (has(p.material)) lines.push(`  MATERIAL: ${clean(p.material)}`);\n  if (has(p.size))     lines.push(`  SIZE:     ${clean(p.size)}`);\n  if (has(p.shape))    lines.push(`  SHAPE:    ${clean(p.shape)}`);\n  if (typeof p.count === 'number') lines.push(`  COUNT:    ${p.count}`);\n  if (has(p.heldBy))   lines.push(`  HELD BY:  ${clean(p.heldBy)} (${clean(p.heldIn) || 'see story'})`);\n  else if (has(p.heldIn) && clean(p.heldIn) !== 'none') lines.push(`  HELD IN:  ${clean(p.heldIn)}`);\n  return lines.join('\\n');\n}\n\nfunction buildSettingBlock(s) {\n  if (!s) return '';\n  if (typeof s === 'string') {\n    return `SETTING ANCHOR (global atmosphere stays constant; micro-location varies per scene per 'Setting focus'):\\n  ${clean(s)}`;\n  }\n  const lines = [\"SETTING ANCHOR (global atmosphere stays constant; micro-location varies per scene per 'Setting focus'):\"];\n  if (has(s.location))       lines.push(`  LOCATION:        ${clean(s.location)}`);\n  if (has(s.timeOfDay))      lines.push(`  TIME-OF-DAY:     ${clean(s.timeOfDay)}`);\n  if (has(s.weather))        lines.push(`  WEATHER:         ${clean(s.weather)}`);\n  if (has(s.lightDirection)) lines.push(`  LIGHT DIRECTION: ${clean(s.lightDirection)} (consistent shadow direction)`);\n  return lines.join('\\n');\n}\n\nconst characterBlocks = storyElements.characters.map((c, i) => buildCharacterBlock(c, i + 1));\nconst propBlocks      = storyElements.props.map((p, i) => buildPropBlock(p, i + 1));\nconst settingBlock    = buildSettingBlock(storyElements.setting);\n\nconst visualLockSections = [];\nif (characterBlocks.length > 0) visualLockSections.push(characterBlocks.join('\\n\\n'));\nif (propBlocks.length > 0)      visualLockSections.push(propBlocks.join('\\n\\n'));\nif (settingBlock)               visualLockSections.push(settingBlock);\n\nconst visualLock = visualLockSections.length > 0\n  ? '=== VISUAL LOCK (REPEAT VERBATIM IN EVERY SCENE — NEVER ALTER) ===\\n\\n'\n    + visualLockSections.join('\\n\\n')\n    + '\\n\\n=== END VISUAL LOCK ==='\n  : '';\n\n// characterReference bleibt als String erhalten (downstream-Kompat) — jetzt = VISUAL LOCK\nconst characterReference = visualLock;\n\nconst sceneRules = storyElements.sceneRules.filter(r => typeof r === 'string' && r.length > 0);\n\nconst hasNonHumanCharacter = (storyElements.characters || []).some(c => {\n  const t = (c.type || 'human').toString().toLowerCase();\n  return t === 'animal' || t === 'creature';\n});\n\nreturn { json: { ...prev, storyElements, characterReference, visualLock, sceneRules, hasNonHumanCharacter } };\n"
      },
      "id": "parse-elements",
      "name": "Elemente parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        704
      ]
    },
    {
      "id": "agent-mia",
      "name": "✍️ Carol-Gray-Autor",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1600,
        412
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "# Carol-Gray-Autor — Systemprompt\n\n## ROLLE & AUFTRAG\n\nDu schreibst eine **Social Story** streng nach der Methode von **Carol Gray (1993)**.\nZielgruppe: ein autistisches Kind oder ein autistischer Jugendlicher / Erwachsener.\nDie Geschichte bereitet konkret auf eine reale Situation vor und unterstützt ein\ndefiniertes Verhaltensziel. Titel, Situation, Verhaltensziel und Altersgruppe\nstehen im User-Prompt.\n\nDeine Aufgabe ist es **nicht**, zu unterhalten, zu ermahnen oder zu lehren. Sondern:\ndie Situation **vorhersagbar machen**, **sensorische Reize ehrlich beschreiben**\nund der lesenden Person eine **innere Landkarte** für den Ablauf geben.\n\n## CAROL-GRAY-SATZTYPEN (verbindlich)\n\nVerwende ausschließlich diese vier Satztypen. Markiere sie NICHT im Output —\nsie strukturieren nur dein Denken beim Schreiben.\n\n1. **DESKRIPTIV** — objektive Beobachtung, was passiert.\n   Beispiel: „Im Wartezimmer sitzen Menschen auf bunten Stühlen.\"\n\n2. **PERSPEKTIVISCH** — Gedanken, Gefühle, Beweggründe anderer Menschen.\n   Beispiel: „Die Helferin freut sich, wenn ich freundlich grüße.\"\n\n3. **DIREKTIV** — was ICH tun kann oder versuchen kann (selten verwenden).\n   Beispiel: „Ich kann ruhig atmen, wenn der Bohrer summt.\"\n\n4. **AFFIRMATIV** — bekräftigend, beruhigend, normalisierend.\n   Beispiel: „Das ist okay. Viele Kinder gehen zum Zahnarzt.\"\n\n### Verhältnis-Regel (Carol-Gray-Original)\n\nAuf **jeden DIREKTIV-Satz** kommen mindestens **2 bis 5 andere Sätze**\n(DESKRIPTIV, PERSPEKTIVISCH oder AFFIRMATIV).\nDIREKTIV-Sätze sind die seltenste Sorte. Maximal **1 bis 2 DIREKTIV-Sätze**\nin der ganzen Geschichte.\n\n## PERSPEKTIVE & STIMME\n\n- **Ich-Perspektive** (die lesende Person erzählt selbst).\n  KEIN „du\", KEIN „Sie\", KEIN „man\".\n- **Präsens** durchgehend.\n- **Hauptsätze** bevorzugt. Einfache Nebensätze (wenn, weil, dass) erlaubt.\n- **Konkrete Personen** statt vager Begriffe: „der Zahnarzt\", „Mama\",\n  „die Helferin\" — nicht „die anderen\", „jemand\".\n\n## SPRACHE NACH ALTERSGRUPPE\n\n- **vorschule** (0–6 J.): max. **8 Wörter pro Satz**. Keine Fremdwörter.\n  Sehr kurze Hauptsätze. Wiederholung erlaubt.\n- **grundschule** (6–12 J.): max. **12 Wörter pro Satz**. Klare Begriffe,\n  Fachwörter beim ersten Mal erklären.\n- **teenager** (12–18 J.): max. **15 Wörter pro Satz**. Fachbegriffe erlaubt,\n  beim ersten Mal kurz erklären.\n- **junge-erwachsene** (18–30 J.): nuancierter, aber direkt. Keine\n  Verniedlichung. Erwachsene Ansprache.\n- **erwachsene** (30+ J.): sachlich, erwachsen, ohne Belehrungston.\n  Selbstbestimmt formuliert.\n\n## STIL-REGELN (für alle Altersgruppen)\n\n- **KEINE Silbentrennung im Text.** Schreibe normale, durchgehende Wörter\n  („heute\" statt „Heu-te\", „Zahnarzt\" statt „Zah-narzt\"). Die lesende Person\n  bekommt die Story als Fließtext im SHG-Webdesign präsentiert —\n  Häppchen-Trennung ist hier fehl am Platz.\n- **KEINE Ironie, KEINE Metaphern, KEIN Sarkasmus.** Autistische Leser:innen\n  nehmen die Sprache wörtlich.\n- **Gefühle benennen UND einordnen**: „Mein Bauch kribbelt. Das nennt man\n  aufgeregt sein.\" Niemals nur „Ich fühlte mich komisch.\"\n- **„Manchmal\" / „vielleicht\" / „oft\"** verwenden statt „immer\" / „nie\".\n  Absolute Aussagen ohne Ausnahme erzeugen Druck und stimmen oft nicht.\n- **Sensorische Details ehrlich benennen** — was sehe ich, was höre ich,\n  was rieche ich, was fühle ich auf der Haut? Auch unangenehme Reize\n  (Bohrergeräusch, helles Licht, kalte Hände) nicht beschönigen.\n- **Sicherheitsanker einbauen**: Wer ist dabei? Was bleibt gleich?\n  Was kann ich nutzen, wenn es schwer wird?\n\n## STORY-BOGEN (6 Absätze für 5 Bilder)\n\n1. **Einstieg / Ankunft** — Was passiert heute? Wo bin ich? Wer ist dabei?\n   Nur DESKRIPTIV.\n\n2. **Vorbereitung / Warten** — Was kommt als Nächstes? Was sehe ich, was\n   höre ich? DESKRIPTIV + PERSPEKTIV.\n\n3. **Erste Schritte** — Was passiert jetzt mit/an mir? Mit welchen Reizen?\n   DESKRIPTIV + AFFIRMATIV. Sensorisches ehrlich benennen.\n\n4. **Höhepunkt der Situation** — Der zentrale Moment, auf den die Geschichte\n   vorbereitet. DESKRIPTIV + PERSPEKTIV + AFFIRMATIV. Hier zeigt sich das\n   Verhaltensziel als Teil des Geschehens.\n\n5. **Bewältigung** — Was kann ICH tun, wenn es schwierig wird? Hier passt\n   **maximal 1 DIREKTIV-Satz** — eingebettet in AFFIRMATIVE Sätze.\n\n6. **Abschluss** — Wie endet die Situation? Wie fühle ich mich danach?\n   AFFIRMATIV + PERSPEKTIV. Positives, aber realistisches Ende. Keine\n   Überhöhung (\"Das war das schönste Erlebnis meines Lebens.\").\n\n## AUSGABE — Formatregeln\n\n- **Länge: 200–300 Wörter** über alle 6 Absätze zusammen.\n- **6 Absätze** durch jeweils eine **Leerzeile** trennen (\\n\\n).\n- **KEIN Titel** im Output — der Titel kommt aus dem Webhook und wird vom\n  Renderer separat über der Story angezeigt.\n- **KEINE Vorrede**, keine Einleitungssätze wie „Hier ist deine Geschichte:\".\n- **KEINE Erklärung** der verwendeten Satztypen am Ende.\n- **KEIN Markdown** — reiner Fließtext mit Absatztrennung.\n\nBeginne den ersten Absatz direkt mit der Ich-Perspektive.\n"
            }
          ]
        },
        "hasOutputParser": false,
        "needsFallback": false
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "llm-mia",
      "name": "⚙️ Gemini (Carol-Gray)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1600,
        604
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\n\nif (!prev.imageCount || prev.imageCount === 0) {\n  return [{ json: { ...prev, skipImages: true } }];\n}\n\n// Style-Reference-URL aus Bildstil ableiten (unverändert)\nconst STYLE_REFS = {\n  'Aquarell':  'bilder/bildstil-vorschau/neutral/aquarell.png',\n  'Cartoon':   'bilder/bildstil-vorschau/neutral/cartoon.png',\n  'Buntstift': 'bilder/bildstil-vorschau/neutral/buntstift.png',\n  'Pixel-Art': 'bilder/bildstil-vorschau/neutral/pixel-art.png',\n  'Anime':     'bilder/bildstil-vorschau/neutral/anime.png',\n  'Traumwelt': 'bilder/bildstil-vorschau/neutral/traumwelt.png',\n  'Knete':     'bilder/bildstil-vorschau/neutral/knete.png',\n  'Voxel':     'bilder/bildstil-vorschau/neutral/voxel.png'\n};\nconst bildstilFromWebhook = $('Webhook: Geschichte anfordern').first().json.body?.Bildstil || prev.imageStyle || 'Cartoon';\nconst styleRefPath = STYLE_REFS[bildstilFromWebhook] || STYLE_REFS['Cartoon'];\nconst styleRefUrl = `https://rala84.github.io/lesekumpel/${styleRefPath}`;\n\nconst visualLock = prev.visualLock || prev.characterReference || '';\nconst imageStylePositive = prev.imageStylePositive || \"children's book watercolor illustration, soft pastel colors, consistent rendering across all panels of this story: same line weight, same color palette, same character proportions and facial features\";\nconst imageStyleNegative = prev.imageStyleNegative || \"no text, no watermarks, no extra limbs, no duplicate props, no floating objects, no mixed art styles, no style drift\";\nconst imageCount = prev.imageCount || 1;\nconst sceneRules = Array.isArray(prev.sceneRules) ? prev.sceneRules : [];\n\nconst PLAUSIBILITY_INVARIANTS = [\n  \"Humans (if present in VISUAL LOCK) appear only in plausible settings; humans cannot be underwater, in lava, in outer space without a suit, inside walls, or sharing the same physical space as wild animals in their hostile habitat.\",\n  \"For underwater animals (dolphin, whale, fish, octopus), if a human is in VISUAL LOCK, the human OBSERVES from a boat, pier, shore, or aquarium glass — never swims alongside the animal.\",\n  \"For polar, glacier, volcano, jungle or space settings, humans wear plausible gear OR are positioned at a safe vantage point.\",\n  \"If VISUAL LOCK lists ONLY animals or objects (no humans), do NOT add a human observer to any scene — the scene shows only the animals/objects in their natural setting.\"\n];\nconst allRules = [...sceneRules, ...PLAUSIBILITY_INVARIANTS];\nconst rulesBlock = allRules.map((r, i) => `${i+1}. ${r}`).join('\\n');\n\nconst sceneUserPrompt = `You are a scene-slot compiler for a children's book illustrator. You receive a fixed VISUAL LOCK (characters, props, setting) and your job is to choose ${imageCount} story moment(s) and fill a small action/composition slot per moment. You do NOT describe characters, outfits, props or settings — those come from the VISUAL LOCK and are inserted verbatim downstream.\n\nVISUAL LOCK (do not paraphrase, do not list here — it is inserted automatically into every final prompt):\n${visualLock}\n\nSCENE INVARIANTS (global rules that apply to EVERY scene as constraints, NOT as actions to depict):\n${rulesBlock}\n\nART STYLE ANCHOR (positive, supplementary to a reference image attached at render time):\n${imageStylePositive}\n\nSTORY TEXT (paragraphs are numbered, 0-based; choose paragraphIndex per scene to match the moment):\n${(prev.storyText || '').split(/\\n\\n+/).map((p,i)=>`[${i}] ${p}`).join('\\n\\n')}\n\nPARAGRAPH-INDEX RULES (read carefully — these are validated):\n\nparagraphIndex is the 0-based index of the EXACT paragraph in STORY TEXT that DESCRIBES the moment shown in this image. The image will be rendered IMMEDIATELY ABOVE that paragraph in the published story.\n\nHOW TO CHOOSE: read the scene's momentSummary, then locate the paragraph whose words actually describe that action. That paragraph's [N] is the paragraphIndex.\n\nHARD RULES (every scene must satisfy ALL of these):\n1. paragraphIndex >= 1. NEVER use 0. Stories must always begin with prose. If a scene would illustrate paragraph [0], set paragraphIndex = 1 instead and pick a moment that fits paragraph [1].\n2. paragraphIndex < total number of paragraphs in STORY TEXT.\n3. paragraphIndex values are DISTINCT across scenes — no two scenes share the same paragraphIndex.\n4. paragraphIndex values are STRICTLY INCREASING across scenes (scene 1 < scene 2 < scene 3). Scenes follow the story chronologically.\n\nEXAMPLE A (6-paragraph story, 3 scenes):\n  [0] Setup\n  [1] First action — the heroine finds the object\n  [2] Build-up\n  [3] Climax — she returns the object\n  [4] Resolution\n  [5] Reflection\n  → Scene 1 (finding) paragraphIndex=1\n  → Scene 2 (returning) paragraphIndex=3\n  → Scene 3 (reflecting) paragraphIndex=5\n\nEXAMPLE B (4-paragraph story, 2 scenes):\n  [0] Setup\n  [1] Main action begins\n  [2] Resolution\n  [3] Reflection\n  → Scene 1 paragraphIndex=1\n  → Scene 2 paragraphIndex=2\n\nEXAMPLE C (3-paragraph story, 1 scene):\n  [0] Setup\n  [1] Action\n  [2] End\n  → Scene 1 paragraphIndex=1  (the single image shows the main action, never above paragraph 0)\n\nVERIFY before output: each scene's momentSummary must describe content from its chosen paragraph. If they don't match, fix paragraphIndex.\n\nTASK: Output ONLY a JSON array with exactly ${imageCount} objects. Pick ${imageCount} distinct moment(s) from the story that together cover the story arc. Each scene shows exactly ONE moment — never combine two moments, never show the same character twice.\n\nEach object has this shape (no other keys):\n{\n  \"scene\": <1-based number>,\n  \"momentSummary\": \"<one English sentence naming the single story moment this scene depicts>\",\n  \"paragraphIndex\": <integer — see PARAGRAPH-INDEX RULES above, must be >= 1, distinct, strictly increasing>,\n  \"action\": \"<the action verb, e.g. 'reaching for', 'running across', 'kneeling beside'>\",\n  \"pose\": \"<short English describing body pose, e.g. 'feet slightly apart, arms outstretched'>\",\n  \"camera\": \"<camera angle + framing, e.g. 'eye-level medium shot, frontal' or 'low-angle wide shot'>\",\n  \"characters_present\": [\"<name>\", \"<name>\"],\n  \"props_shown\": [ { \"name\": \"<prop name from VISUAL LOCK>\", \"hand\": \"left | right | both | none\" } ],\n  \"setting_focus\": \"<short English noting which part of the SETTING ANCHOR is in frame, e.g. 'foreground waves, distant horizon'>\",\n  \"mood\": \"<one adjective, e.g. 'curious' or 'triumphant'>\",\n  \"framingType\": \"<exactly one of: overview | detail | interaction | habitat | establishing | reaction — must be UNIQUE across all ${imageCount} scenes>\",\n  \"invariantCheck\": \"<one English sentence asserting this scene respects every SCENE INVARIANT above>\",\n  \"compositionCheck\": \"<one English sentence asserting this scene is a full-bleed square 1:1 image with painted scene reaching all four corners, no white margin, no inner matte, no frame>\"\n}\n\nFRAMING DIVERSITY (CRITICAL — failing this produces ${imageCount} near-identical images):\nSome stories revolve around a single subject or repeated activity (e.g. an animal in one habitat, a character doing one thing). Even then, the ${imageCount} scenes MUST show the topic from visually distinct angles. Pick ${imageCount} different framingType values from this menu:\n\n  - overview     → wide framing, full context visible, distant camera, subject small in frame\n  - detail       → tight close-up on ONE feature, body part or single action; near camera; rest of body/scene cropped out\n  - interaction  → two or more named characters relating to each other in the same frame\n  - habitat      → subject is small/medium and the environment dominates the composition (landscape feel)\n  - establishing → mid-distance view that introduces the situation, often with negative space\n  - reaction     → focus on a face/expression or emotional response, eye-level\n\nYou may NOT reuse the same pose phrasing across scenes. If two scenes describe the same physical posture (\"vertical logging posture\", \"sitting at the desk\", \"standing with arms outstretched\"), you have failed this constraint — rewrite so each scene has a uniquely different physical configuration AND a different framingType. Body part visible, distance from camera, and field of view must all shift between scenes.\n\nHARD CONSTRAINTS (never violate):\n- You MAY NOT include outfit/hair/eyes/skin/body/fur/clothing descriptions. Those live ONLY in VISUAL LOCK.\n- You MAY NOT include character age, height or species in your output. Those live ONLY in VISUAL LOCK.\n- You MAY NOT add characters not listed in VISUAL LOCK.\n- You MAY NOT show the same named character twice in one scene.\n- \"characters_present\" must be a strict subset of the names that appear as CHARACTER #n in the VISUAL LOCK.\n- \"props_shown.name\" must match a PROP #n name from the VISUAL LOCK; if unsure, return an empty array.\n- camera, pose AND framingType MUST be unique across scenes; characters_present MAY repeat across scenes (same character in different moments).\n- paragraphIndex MUST be distinct AND strictly increasing AND >= 1 — see PARAGRAPH-INDEX RULES above.\n\nPLAUSIBILITY (final check before output — every scene must pass):\n- Inspect the CHARACTER REFERENCE: are there humans, animals, both, or only objects?\n- If ONLY animals are listed: NO scene may add a human. The image shows animals in their natural habitat, period.\n- If humans are listed: setting must be a place where they could plausibly exist. No humans underwater (use boat/pier/aquarium glass instead), no humans in lava, no humans in vacuum.\n- For wild-animal stories (ocean, polar ice, jungle), if a human is in CHARACTER REFERENCE, the human is on a safe vantage point — never inside the animal's habitat alongside it.\n\nOutput ONLY the JSON array, no markdown, no explanation.`;\n\nreturn [{ json: { ...prev, sceneUserPrompt, styleRefUrl } }];\n"
      },
      "id": "prep-scenes",
      "name": "Bildszenen vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3872,
        704
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "image-loop",
      "name": "Bild-Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4592,
        704
      ]
    },
    {
      "id": "gemini-image",
      "name": "Gemini: Bild generieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4816,
        544
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-image-2\",\n  \"prompt\": {{ JSON.stringify($json.imagePrompt) }},\n  \"size\": \"1024x1024\",\n  \"quality\": \"low\",\n  \"moderation\": \"low\",\n  \"n\": 1\n}",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "l6uYdixlS8PjMxDD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "extract-image",
      "name": "Bild-Daten extrahieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5040,
        544
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "f0d39971-03d3-4f10-8369-0f0549dd8869",
              "name": "data",
              "value": "={{ typeof $json.data === 'string' ? $json.data : ($json.data && $json.data[0] && $json.data[0].b64_json ? $json.data[0].b64_json : '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "RaLa84",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "ass-elternkreis-nwm",
          "mode": "list",
          "cachedResultName": "ass-elternkreis-nwm",
          "cachedResultUrl": "https://github.com/RaLa84/ass-elternkreis-nwm"
        },
        "filePath": "={{ $('Szenen parsen').all()[$('Bild-Loop').context.currentRunIndex]?.json.imageGithubPath }}",
        "fileContent": "={{ $json.data }}",
        "commitMessage": "=Bild: {{ $('Szenen parsen').all()[$('Bild-Loop').context.currentRunIndex]?.json.imageFilename }}"
      },
      "id": "github-image-upload",
      "name": "GitHub: Bild hochladen",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        5264,
        544
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "WBP07xjckQiul5s7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "id": "only-one-item",
      "name": "Nur 1 Item",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4592,
        864
      ]
    },
    {
      "id": "if-skip-images",
      "name": "skipImages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3990,
        704
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skipImages }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "probe-prep",
      "name": "Probe vorbereiten",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4368,
        880
      ],
      "parameters": {
        "maxItems": 1
      }
    },
    {
      "id": "probe-gpt-image",
      "name": "Probe: gpt-image-2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4528,
        880
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-image-2\",\n  \"prompt\": {{ JSON.stringify($json.imagePrompt) }},\n  \"size\": \"1024x1024\",\n  \"quality\": \"low\",\n  \"moderation\": \"low\",\n  \"n\": 1\n}",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "l6uYdixlS8PjMxDD",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "probe-eval",
      "name": "Probe auswerten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4688,
        880
      ],
      "parameters": {
        "jsCode": "// Auswertung der Probe-Generierung mit gpt-image-2.\n// Bei Erfolg: erste Szene erhält den Probe-b64 (wird wiederverwendet),\n// Bei Misserfolg: alle Szenen werden mit Gemini-Fallback markiert.\nconst probeResp = $input.first()?.json || {};\nconst probeSuccess = !!(probeResp && probeResp.data && probeResp.data[0] && probeResp.data[0].b64_json);\nconst probeB64 = probeSuccess ? probeResp.data[0].b64_json : null;\n\nconst allItems = $('Szenen parsen').all().map(it => it.json);\nif (allItems.length === 0) {\n  return [];\n}\n\nif (probeSuccess) {\n  return allItems.map((item, idx) => ({\n    json: {\n      ...item,\n      useFallback: false,\n      prefilledB64: idx === 0 ? probeB64 : null,\n      probeOutcome: 'openai-success',\n      imageModel: 'gpt-image-2'\n    }\n  }));\n} else {\n  return allItems.map(item => ({\n    json: {\n      ...item,\n      useFallback: true,\n      prefilledB64: null,\n      probeOutcome: 'openai-blocked',\n      imageModel: 'gemini-2.5-flash-image'\n    }\n  }));\n}\n"
      }
    },
    {
      "id": "gen-switch",
      "name": "Generator-Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4720,
        704
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.prefilledB64 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "prefilled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.useFallback }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "openai"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "gemini"
        }
      }
    },
    {
      "id": "set-prefilled",
      "name": "Set: prefilled b64 als data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4880,
        400
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "dd549b32-40d5-49f0-aefb-aae6f2d9e86b",
              "name": "data",
              "value": "={{ $json.prefilledB64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "gemini-fallback-image",
      "name": "Gemini Fallback Bild",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4880,
        880
      ],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [\n      { \"inlineData\": { \"mimeType\": {{ JSON.stringify($json.styleRefMimeType || 'image/png') }}, \"data\": {{ JSON.stringify($json.styleRefBase64 || '') }} } },\n      { \"text\": {{ JSON.stringify($json.imagePrompt || '') }} }\n    ]\n  }]\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "6COxa9BJR4aj2W2w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "id": "extract-image-gemini",
      "name": "Bild-Daten extrahieren (Gemini)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        880
      ],
      "parameters": {
        "jsCode": "// Parst die Gemini-multimodal-Response: extrahiert die base64-Bild-Daten aus\n// candidates[0].content.parts[*].inlineData.data und setzt sie als \\$json.data\n// (kompatibel mit dem GitHub-Upload-Knoten der \\$json.data direkt nutzt)\nconst inputJson = $input.first().json;\nconst parts = inputJson?.candidates?.[0]?.content?.parts || [];\nconst imagePart = parts.find(p => p && p.inlineData && p.inlineData.data);\nif (!imagePart) {\n  throw new Error('Gemini-Response enthält kein Bild — candidates[0].content.parts hat kein inlineData');\n}\nconst data = imagePart.inlineData.data;\nreturn { json: { ...inputJson, data } };"
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"accepted\"}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "respond-immediate-001",
      "name": "Respond: Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        490,
        362
      ]
    },
    {
      "id": "style-ref-prep",
      "name": "Style-Ref vorbereiten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4660,
        880
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.styleRefUrl || $('Bildszenen vorbereiten').first().json.styleRefUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 30000
        }
      }
    },
    {
      "id": "style-ref-encode",
      "name": "Style-Ref Encode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4770,
        880
      ],
      "parameters": {
        "jsCode": "// Löst den n8n-binary-File-Pointer auf und gibt das base64 + mimeType ins json\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = buffer.toString('base64');\nconst mimeType = $input.first().binary?.data?.mimeType || 'image/png';\nreturn { json: { ...$input.first().json, styleRefBase64: base64, styleRefMimeType: mimeType } };"
      }
    }
  ],
  "connections": {
    "⚙️ Gemini (Szenen)": {
      "ai_languageModel": [
        [
          {
            "node": "🎨 Szenen-Extraktor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Szenen-Extraktor": {
      "main": [
        [
          {
            "node": "Szenen parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Template laden": {
      "main": [
        [
          {
            "node": "HTML assemblieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML assemblieren": {
      "main": [
        [
          {
            "node": "GitHub: HTML committen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: HTML committen": {
      "main": [
        [
          {
            "node": "Ergebnis aufbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ergebnis aufbauen": {
      "main": [
        [
          {
            "node": "Webhook-Antwort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Geschichte anfordern": {
      "main": [
        [
          {
            "node": "Daten vorbereiten",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond: Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story-Elemente vorbereiten": {
      "main": [
        [
          {
            "node": "🧩 Story-Elemente extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Gemini (Elemente)": {
      "ai_languageModel": [
        [
          {
            "node": "🧩 Story-Elemente extrahieren",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🧩 Story-Elemente extrahieren": {
      "main": [
        [
          {
            "node": "Elemente parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elemente parsen": {
      "main": [
        [
          {
            "node": "Bildszenen vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Carol-Gray-Autor": {
      "main": [
        [
          {
            "node": "Geschichte parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Gemini (Carol-Gray)": {
      "ai_languageModel": [
        [
          {
            "node": "✍️ Carol-Gray-Autor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Bildszenen vorbereiten": {
      "main": [
        [
          {
            "node": "skipImages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Szenen parsen": {
      "main": [
        [
          {
            "node": "Probe vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild-Loop": {
      "main": [
        [
          {
            "node": "Nur 1 Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generator-Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Bild generieren": {
      "main": [
        [
          {
            "node": "Bild-Daten extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild-Daten extrahieren": {
      "main": [
        [
          {
            "node": "GitHub: Bild hochladen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Bild hochladen": {
      "main": [
        [
          {
            "node": "Bild-Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nur 1 Item": {
      "main": [
        [
          {
            "node": "GitHub: Template laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "skipImages?": {
      "main": [
        [
          {
            "node": "Nur 1 Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎨 Szenen-Extraktor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Probe vorbereiten": {
      "main": [
        [
          {
            "node": "Probe: gpt-image-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Probe: gpt-image-2": {
      "main": [
        [
          {
            "node": "Probe auswerten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Probe auswerten": {
      "main": [
        [
          {
            "node": "Bild-Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generator-Switch": {
      "main": [
        [
          {
            "node": "Set: prefilled b64 als data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini: Bild generieren",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Style-Ref vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: prefilled b64 als data": {
      "main": [
        [
          {
            "node": "Bild-Daten extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Fallback Bild": {
      "main": [
        [
          {
            "node": "Bild-Daten extrahieren (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild-Daten extrahieren (Gemini)": {
      "main": [
        [
          {
            "node": "GitHub: Bild hochladen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Style-Ref vorbereiten": {
      "main": [
        [
          {
            "node": "Style-Ref Encode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Style-Ref Encode": {
      "main": [
        [
          {
            "node": "Gemini Fallback Bild",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten vorbereiten": {
      "main": [
        [
          {
            "node": "✍️ Carol-Gray-Autor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geschichte parsen": {
      "main": [
        [
          {
            "node": "Story-Elemente vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "84f2a358-51a0-4b27-b14e-212f4fb9c384",
  "activeVersionId": "84f2a358-51a0-4b27-b14e-212f4fb9c384",
  "versionCounter": 25,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-23T09:43:46.304Z",
      "createdAt": "2026-05-23T09:43:46.304Z",
      "role": "workflow:owner",
      "workflowId": "iKNT46tAjFqf0OM5",
      "projectId": "7DKNq7xhMrsfvZui",
      "project": {
        "updatedAt": "2025-12-09T14:04:24.508Z",
        "createdAt": "2025-12-09T14:04:19.022Z",
        "id": "7DKNq7xhMrsfvZui",
        "name": "Raik Lasner <raik.lasner@googlemail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-09T14:04:19.022Z",
            "createdAt": "2025-12-09T14:04:19.022Z",
            "userId": "308fb5dc-7474-4112-a328-f5a434552a00",
            "projectId": "7DKNq7xhMrsfvZui",
            "user": {
              "updatedAt": "2026-05-23T09:41:18.000Z",
              "createdAt": "2025-12-09T14:04:17.380Z",
              "id": "308fb5dc-7474-4112-a328-f5a434552a00",
              "email": "raik.lasner@googlemail.com",
              "firstName": "Raik",
              "lastName": "Lasner",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "userClaimedAiCredits": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "754WU5QkgUk9acBk",
                "userActivatedAt": 1765294032281,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1765785201621
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-22",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-23T20:59:07.518Z",
    "createdAt": "2026-05-23T20:59:07.518Z",
    "versionId": "84f2a358-51a0-4b27-b14e-212f4fb9c384",
    "workflowId": "iKNT46tAjFqf0OM5",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "shg-story",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "id": "webhook-trigger",
        "name": "Webhook: Geschichte anfordern",
        "position": [
          240,
          512
        ],
        "webhookId": "987468f1-49ec-40ca-b37a-ab328da2f404"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Eingabe-Pipeline für Carol-Gray-Social-Stories.\n//\n// Liest die vier Webhook-Felder (Titel, Situation, Verhaltensziel, Altersgruppe)\n// und bereitet alles vor, was die downstream Nodes brauchen:\n//  - slug (deterministisch hashbasiert, gleiche Eingabe -> gleiche Datei)\n//  - imageStylePositive/Negative (fest „Traumwelt\", einziger Bildstil)\n//  - imageCount = 5 (Hero-Bild + 4 Inline-Bilder zwischen den Absätzen)\n//  - description (kurze Variante der Situation für SEO-Meta-Tag)\n//  - userPrompt (Variablen-Block für den Carol-Gray-Autor-LLM-Node)\n//\n// Alle Lesekumpel-Konzepte (Persona, Neurotyp, Bildstil-Auswahl, mitBildern,\n// Persona-Meta-Map mit Wortzahlen/Tempus/Avataren) sind entfernt — der Workflow\n// produziert ausschließlich Carol-Gray-Social-Stories.\n\nconst webhookInput = $('Webhook: Geschichte anfordern').first().json;\nconst input = webhookInput.body || webhookInput;\n\nconst title = (input['Titel'] || '').trim();\nconst situation = (input['Situation'] || '').trim();\nconst verhaltensziel = (input['Verhaltensziel'] || '').trim();\nconst altersgruppeRaw = (input['Altersgruppe'] || 'allgemein').trim().toLowerCase();\n\nconst ALLOWED_ALTERSGRUPPEN = ['vorschule', 'grundschule', 'teenager', 'junge-erwachsene', 'erwachsene'];\nconst altersgruppe = ALLOWED_ALTERSGRUPPEN.includes(altersgruppeRaw) ? altersgruppeRaw : 'allgemein';\n\n// Slug — deterministisch via DJB2-Hash. Gleicher Titel + Situation + Altersgruppe\n// -> gleicher Slug -> gleiche Dateipfade (Idempotenz bei Caller-Retry).\nconst umlautMap = { 'ä': 'ae', 'ö': 'oe', 'ü': 'ue', 'ß': 'ss', 'Ä': 'ae', 'Ö': 'oe', 'Ü': 'ue' };\nconst slugBase = (title.toLowerCase()\n  .replace(/[äöüßÄÖÜ]/g, c => umlautMap[c] || c)\n  .replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '').replace(/-+/g, '-')\n  .substring(0, 55) || 'neue-geschichte');\nconst slugInput = title + '|' + situation + '|' + altersgruppe;\nlet _h = 5381;\nfor (let i = 0; i < slugInput.length; i++) { _h = ((_h * 33) ^ slugInput.charCodeAt(i)) | 0; }\nconst slugSuffix = ((_h >>> 0).toString(36) + '0000').substring(0, 4);\nconst slug = slugBase + '-' + slugSuffix;\n\n// Bildstil ist fest „Aquarell\" — warmes, kinderbuchartiges Handgemalt-Gefühl\n// (Beatrix Potter / Quentin Blake). Sorgt für visuelle Konsistenz über alle\n// Stories. Frühere Wahl „Traumwelt\" produzierte mit ihren großen Anime-Augen\n// und kühlem Rim-Light teils distanziert/melancholisch wirkende Gesichter.\nconst imageStylePositive = \"traditional children's book watercolor illustration, hand-painted with warm cream paper texture filling the entire image, soft pastel palette, gentle wet-on-wet washes with visible bleeding edges, loose expressive brush strokes, soft painterly rendering, warm friendly facial expressions, inspired by Beatrix Potter and Quentin Blake, consistent palette and brush handling across all panels of this story, same character proportions and facial features in every panel, full bleed composition extending to all four image edges, no inner framing, subjects and background reach every corner of the image, square 1:1 aspect ratio\";\nconst imageStyleNegative = \"no text, no watermarks, no labels, no tags, no annotations, no nameplates, no UI overlays, no callouts, no captions, no speech bubbles, no sign text, no alphanumeric text in image, no letterboxing, no black bars, no white margin, no cream margin, no paper border, no inner matte, no mat board, no illustration frame, no vignette, no aspect-ratio padding, no hard black outlines, no digital vector look, no CGI, no 3D shading, no photorealism, no extra limbs, no duplicate props, no floating objects, no mixed art styles, no style drift, no oversized anime eyes, no rim lighting, no eerie atmosphere, no melancholic faces\";\n\nconst imageCount = 5;\n\n// Alter & Geschlecht der Hauptfigur (\"Ich\") für die Bildgenerierung deterministisch\n// festlegen. Ohne diese explizite Vorgabe interpretiert der Story-Elemente-Extraktor\n// das Alter aus dem Story-Text-Kontext (oft falsch: alle Stories landeten bei 8 J.)\n// und wählt das Geschlecht aus seinem Trainingsbias (fast immer männlich).\n//\n// Alter pro Altersgruppe (Mitte des Bereichs):\nconst AGE_MAP = {\n  'vorschule': 5,\n  'grundschule': 9,\n  'teenager': 15,\n  'junge-erwachsene': 23,\n  'erwachsene': 38,\n  'allgemein': 9\n};\nconst mainCharacterAge = AGE_MAP[altersgruppe] || 9;\n\n// Geschlecht: optional per Webhook-Feld \"Hauptfigur\" überschreibbar, sonst\n// deterministische Rotation über alle 3 Gender, basierend auf Slug-Hash.\nconst hauptfigurInput = (input['Hauptfigur'] || '').toString().trim().toLowerCase();\nlet mainCharacterGender;\nif (/m[aä]dchen|frau|weibl/.test(hauptfigurInput))                mainCharacterGender = 'female';\nelse if (/junge|mann|männl|maennl/.test(hauptfigurInput))         mainCharacterGender = 'male';\nelse if (/nicht.?binär|nicht.?binaer|non.?binary|nb/.test(hauptfigurInput)) mainCharacterGender = 'non-binary';\nelse {\n  const GENDERS = ['female', 'male', 'non-binary'];\n  mainCharacterGender = GENDERS[Math.abs(_h) % GENDERS.length];\n}\n\n// SEO-Beschreibung: erste 140 Zeichen der Situation, an Wortgrenze geschnitten.\nfunction shortDesc(text, maxLen) {\n  const s = String(text || '').replace(/\\s+/g, ' ').trim();\n  if (s.length <= maxLen) return s;\n  const cut = s.substring(0, maxLen);\n  const lastSpace = cut.lastIndexOf(' ');\n  return (lastSpace > maxLen * 0.6 ? cut.substring(0, lastSpace) : cut).trimEnd() + '…';\n}\nconst description = shortDesc(situation, 140);\n\n// User-Prompt für den Carol-Gray-Autor-LLM. Der System-Prompt (siehe\n// n8n-pipeline/prompts/carol-gray-autor.md) liefert die Methodik-Regeln;\n// hier kommen nur die situationsspezifischen Variablen rein.\nconst userPrompt = [\n  `Titel: \"${title}\"`,\n  '',\n  `Situation: ${situation}`,\n  '',\n  `Verhaltensziel: ${verhaltensziel}`,\n  '',\n  `Altersgruppe: ${altersgruppe}`,\n  '',\n  'Schreibe jetzt die Social Story:',\n  '- 200 bis 300 Wörter insgesamt',\n  '- genau 6 Absätze, jeweils durch eine Leerzeile getrennt',\n  '- Ich-Perspektive, Präsens',\n  '- max. 1 bis 2 DIREKTIV-Sätze in der ganzen Geschichte',\n  '- folge dem Story-Bogen aus deinem System-Prompt'\n].join('\\n');\n\nconst today = new Date().toISOString().slice(0, 10);\n\nreturn {\n  json: {\n    title,\n    situation,\n    verhaltensziel,\n    altersgruppe,\n    slug,\n    imageCount,\n    imageStylePositive,\n    imageStyleNegative,\n    description,\n    userPrompt,\n    mainCharacterAge,\n    mainCharacterGender,\n    date: today\n  }\n};\n"
        },
        "id": "prepare-data",
        "name": "Daten vorbereiten",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          512
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const input = $('Daten vorbereiten').first().json;\nconst responseText = $input.item.json.text || $input.item.json.output || '';\n\n// Tolerant label matcher — accepts Markdown markers (# ## ### ** **), with or without colon,\n// with or without German hyphenation (GE-SCHICH-TE, ZU-SAM-MEN-FAS-SUNG).\n// Returns both the label-START position (cuts previous section) and label-END position (content start).\nfunction findLabelPositions(text, labelPattern) {\n  const re = new RegExp(\"(?:#{1,3}\\\\s*|\\\\*\\\\*\\\\s*)?\" + labelPattern + \"(?::|\\\\s)\\\\s*\\\\*?\\\\*?\", \"i\");\n  const m = text.match(re);\n  if (!m) return null;\n  return { start: m.index, end: m.index + m[0].length };\n}\nconst geschPattern = \"GE\\\\s*-?\\\\s*SCHICH\\\\s*-?\\\\s*TE\";\nconst zusamPattern = \"ZU\\\\s*-?\\\\s*SAM\\\\s*-?\\\\s*MEN\\\\s*-?\\\\s*FAS\\\\s*-?\\\\s*SUNG\";\nconst gesch = findLabelPositions(responseText, geschPattern);\nconst zusam = findLabelPositions(responseText, zusamPattern);\n\nlet rawStory, summaryText;\nif (gesch && zusam && zusam.start > gesch.end) {\n  rawStory = responseText.substring(gesch.end, zusam.start).trim();\n  summaryText = responseText.substring(zusam.end).trim();\n} else if (gesch) {\n  rawStory = responseText.substring(gesch.end).trim();\n  summaryText = '';\n} else {\n  rawStory = responseText.trim();\n  summaryText = '';\n}\n\n// Strip residual Markdown from both blocks (LLM may sometimes emit # or ** despite instructions)\nfunction cleanMarkdown(s) {\n  return s\n    .replace(/^[#*]+\\s*/gm, '')\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '$1')\n    .replace(/\\*([^*]+)\\*/g, '$1')\n    .trim();\n}\nrawStory = cleanMarkdown(rawStory);\nsummaryText = cleanMarkdown(summaryText) || rawStory.split('\\n')[0];\n\n// ═══════════════════════════════════════════════════\n// Deutsche Silbentrennung v2 (Digraphen-aware)\n// ═══════════════════════════════════════════════════\n\nfunction silbentrennung(wort) {\n  if (wort.length <= 3) return wort;\n  if (!/^[a-zäöüß]+$/i.test(wort)) return wort;\n  \n  const w = wort.toLowerCase();\n  \n  // Schritt 1: Wort in Einheiten zerlegen (Digraphen als eine Einheit)\n  const einheiten = [];\n  let i = 0;\n  while (i < w.length) {\n    // Trigraph: sch\n    if (i + 2 < w.length && w.substring(i, i + 3) === 'sch') {\n      einheiten.push({ text: w.substring(i, i + 3), typ: 'K', pos: i, len: 3 });\n      i += 3; continue;\n    }\n    // Digraphen: ch, ck, ph, th, qu, pf, ng, nk\n    const zwei = i + 1 < w.length ? w.substring(i, i + 2) : '';\n    if (['ch', 'ck', 'ph', 'th', 'qu', 'pf'].includes(zwei)) {\n      einheiten.push({ text: zwei, typ: 'K', pos: i, len: 2 });\n      i += 2; continue;\n    }\n    // Doppelvokale: ei, au, eu, äu, ie, ai\n    if (['ei', 'au', 'eu', 'äu', 'ie', 'ai'].includes(zwei)) {\n      einheiten.push({ text: zwei, typ: 'V', pos: i, len: 2 });\n      i += 2; continue;\n    }\n    // Einzelbuchstabe\n    const vokal = 'aeiouyäöü'.includes(w[i]);\n    einheiten.push({ text: w[i], typ: vokal ? 'V' : 'K', pos: i, len: 1 });\n    i++;\n  }\n  \n  // Schritt 2: Vokalgruppen finden (aufeinanderfolgende V-Einheiten)\n  const vokalIndices = [];\n  for (let e = 0; e < einheiten.length; e++) {\n    if (einheiten[e].typ === 'V') {\n      // Gehört zur vorherigen Vokalgruppe?\n      if (vokalIndices.length > 0 && vokalIndices[vokalIndices.length - 1].end === e) {\n        vokalIndices[vokalIndices.length - 1].end = e + 1;\n      } else {\n        vokalIndices.push({ start: e, end: e + 1 });\n      }\n    }\n  }\n  \n  if (vokalIndices.length < 2) return wort;\n  \n  // Schritt 3: Trennstellen zwischen Vokalgruppen\n  const trennstellen = [];\n  for (let v = 0; v < vokalIndices.length - 1; v++) {\n    const nachVokal = vokalIndices[v].end;       // erste Konsonant-Einheit nach Vokal\n    const vorVokal = vokalIndices[v + 1].start;  // erste Vokal-Einheit der nächsten Silbe\n    const anzahlKons = vorVokal - nachVokal;\n    \n    let trennEinheit;\n    if (anzahlKons === 0) {\n      // Vokal-Vokal: trenne dazwischen\n      trennEinheit = nachVokal;\n    } else if (anzahlKons === 1) {\n      // 1 Konsonant(engruppe): gehört zur nächsten Silbe\n      trennEinheit = nachVokal;\n    } else {\n      // 2+ Konsonanten: letzter Konsonant (oder letzte Digraph-Einheit) zur nächsten Silbe\n      trennEinheit = vorVokal - 1;\n      \n      // st bleibt zusammen (st gehört zur nächsten Silbe)\n      if (anzahlKons >= 2) {\n        const vorletzte = einheiten[vorVokal - 2];\n        const letzte = einheiten[vorVokal - 1];\n        if (vorletzte.text === 's' && letzte.text === 't') {\n          trennEinheit = vorVokal - 2;\n        }\n      }\n    }\n    \n    // Position im Original-Wort\n    const charPos = einheiten[trennEinheit].pos;\n    if (charPos > 0 && charPos < wort.length) {\n      trennstellen.push(charPos);\n    }\n  }\n  \n  // Schritt 4: Wort zusammenbauen\n  if (trennstellen.length === 0) return wort;\n  \n  let ergebnis = '';\n  let letzte = 0;\n  for (const pos of trennstellen) {\n    ergebnis += wort.substring(letzte, pos) + '-';\n    letzte = pos;\n  }\n  ergebnis += wort.substring(letzte);\n  \n  return ergebnis;\n}\n\nfunction textSilbentrennung(text) {\n  return text.replace(/[a-zäöüßA-ZÄÖÜ]{4,}/g, (wort) => silbentrennung(wort));\n}\n\nconst storyText = textSilbentrennung(rawStory);\nconst wordCount = rawStory.split(/\\s+/).length;\n\nreturn { json: { ...input, storyText, rawStoryText: rawStory, summaryText, wordCount } };"
        },
        "id": "parse-story",
        "name": "Geschichte parsen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1888,
          704
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.sceneUserPrompt }}",
          "messages": {
            "messageValues": [
              {
                "message": "You are a prompt compiler for a children's book illustrator. Your job is to fill slot templates.\n\nRULES — every scene MUST satisfy all 6 checks:\n1. Spatial relation is explicit (ON / NEXT-TO / BEHIND / IN-FRONT-OF / HELD-BY).\n2. Every named prop in the scene has a hand slot (left / right / both / none).\n3. Every person has an explicit age that matches the story.\n4. Only include people named in the story. Do not invent extra characters.\n5. Every named character who appears in the scene MUST wear the exact clothing colors and items specified in CHARACTER REFERENCE. Repeat the clothing description verbatim in the scene prompt.\n6. Each named character appears AT MOST ONCE per scene. Never show the same character twice in the same image.\n\nONE MOMENT RULE: Each scene depicts EXACTLY ONE moment from the story. Never combine two different moments (e.g. 'flying the plane' AND 'eating a döner') into one image. When multiple scenes exist, distribute them across the story arc (beginning / middle / end).\n\nINVARIANTS: SCENE INVARIANTS in the user prompt apply to EVERY scene as global constraints (character count, ages, paired-prop counts). They do NOT describe a specific moment; do not pack multiple invariants' actions into the same image.\n\nVARIATION RULE: change camera angle and setting between scenes. Keep character appearance identical (hair, clothing, skin, age, build) across all scenes of the same story.\n\nSTYLE RULE: The art style prefix is identical verbatim across all scenes of the same story.\n\nTEXT RULE: The scene prompt you output must use natural English prose only. Never include bracketed role tags like [right hand], never use alphanumeric quantity suffixes like x1 / x2 / x3. Describe quantities with words (one, two, three). The final image must contain NO artificial labels, UI overlays, callouts, or speech bubbles.\n\nASPECT RULE: Every scene is a square 1:1 full-bleed composition — the artwork extends all the way to every image edge. Never describe white margins, paper borders, inner mattes, illustration frames, or vignettes. The subject and background must reach all four corners of the image.\n\nOutput ONLY the JSON array, no markdown, no explanations."
              }
            ]
          },
          "batching": {}
        },
        "id": "agent-szenen",
        "name": "🎨 Szenen-Extraktor",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          4112,
          704
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 3000
      },
      {
        "parameters": {
          "options": {
            "temperature": 0.2,
            "topP": 0.8
          }
        },
        "id": "llm-szenen",
        "name": "⚙️ Gemini (Szenen)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          4112,
          880
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "6COxa9BJR4aj2W2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const prevData = $('Bildszenen vorbereiten').first().json;\nif (prevData.skipImages || prevData.imageCount === 0) {\n  return [{ json: { ...prevData, _skipLoop: true } }];\n}\n\nconst prev = $('Bildszenen vorbereiten').first().json;\nconst rawText = $input.first().json.text || '';\nconst visualLock = prev.visualLock || prev.characterReference || '';\n\n// Lead-Block: erzwingt full-bleed-Komposition am Promptanfang (Modelle gewichten Anfang stärker)\nconst fullBleedMandate = [\n  'FULL-BLEED MANDATE: This is a poster-style full-bleed illustration.',\n  'The painted scene fills 100% of pixels from corner to corner of the image.',\n  'Background paint and scene elements extend BEYOND all four image edges.',\n  'There is no border, no margin, no white space, no matte, no frame, no rounded corners.',\n  'Imagine a giant poster cropped tight to the artwork — every pixel is painted scene.'\n].join(' ');\n\n// safetyContext bleibt type-aware (Mensch+Tier-Kombination braucht andere Clothing-Klausel)\nconst _hasNonHuman = !!prev.hasNonHumanCharacter;\nconst _clothingClause = _hasNonHuman\n  ? 'human characters are fully clothed in everyday outfits, animal characters are real animals with no clothing and no costume'\n  : 'fully clothed characters in everyday outfits';\nconst safetyContext = \"Wholesome G-rated illustration for a published German children's picture book, age-appropriate storybook art, \" + _clothingClause;\nconst safetyNegative = 'no swimwear, no swimsuit, no bikini, no underwear, no nudity, no bare torso, no exposed skin beyond face and hands, no animals depicted as humans, no children wearing animal costumes';\n\n// Frame-Bias-Negationen (zusätzlich zum imageStyleNegative)\nconst frameNegative = 'no canvas border, no torn paper edge, no rounded corners, no shadow box, no drop shadow around image, no decorative frame, no book page edge, no album cover frame, no inset background, no centered medallion composition, no white halo around subject';\n\nconst imageStylePositive = prev.imageStylePositive || \"children's book illustration, consistent rendering across all panels\";\nconst imageStyleNegative = prev.imageStyleNegative || \"no text, no watermarks, no extra limbs\";\n\nlet scenes = [];\ntry { const m = rawText.match(/\\[[\\s\\S]*\\]/); if (m) scenes = JSON.parse(m[0]); } catch(e) {}\n\nif (!Array.isArray(scenes) || scenes.length === 0) {\n  // Fallback: single generic scene\n  scenes = [{\n    scene: 1,\n    momentSummary: 'A friendly scene from the story',\n    action: 'standing',\n    pose: 'natural relaxed pose',\n    camera: 'eye-level medium shot',\n    characters_present: [],\n    props_shown: [],\n    setting_focus: '',\n    mood: 'warm'\n  }];\n}\n\nfunction clean(s) { return (s == null ? '' : String(s)).trim(); }\nfunction has(s) { return clean(s).length > 0; }\n\nreturn scenes.map(s => {\n  const sceneNo  = (typeof s.scene === 'number' && s.scene > 0) ? s.scene : 1;\n  const summary  = clean(s.momentSummary) || 'A moment from the story';\n  const action   = clean(s.action) || 'standing';\n  const pose     = clean(s.pose)   || 'natural relaxed pose';\n  const camera   = clean(s.camera) || 'eye-level medium shot';\n  const chars    = Array.isArray(s.characters_present) ? s.characters_present.filter(has) : [];\n  const props    = Array.isArray(s.props_shown) ? s.props_shown.filter(p => p && has(p.name)) : [];\n  const setFocus = clean(s.setting_focus);\n  const mood     = clean(s.mood) || 'warm';\n\n  const propsLine = props.length > 0\n    ? props.map(p => `${clean(p.name)} (${clean(p.hand) || 'in hand'})`).join(', ')\n    : 'no held props this scene';\n  const charsLine = chars.length > 0 ? chars.join(', ') : 'characters from VISUAL LOCK';\n\n  const sceneBlock = [\n    `SCENE ${sceneNo}: ${summary}`,\n    `  Action:        ${action}`,\n    `  Pose:          ${pose}`,\n    `  Camera:        ${camera}`,\n    `  In frame:      ${charsLine}`,\n    `  Props shown:   ${propsLine}`,\n    setFocus ? `  Setting focus: ${setFocus}` : '',\n    `  Mood:          ${mood}`\n  ].filter(Boolean).join('\\n');\n\n  // Finaler Prompt: FULL-BLEED Lead → safetyContext → VISUAL LOCK → SCENE → STYLE → NEGATIVE\n  const positiveSections = [\n    fullBleedMandate,\n    safetyContext + '.',\n    visualLock,\n    sceneBlock,\n    'ART STYLE: ' + imageStylePositive\n  ].filter(Boolean);\n  const positive = positiveSections.join('\\n\\n');\n\n  const fullNegative = [imageStyleNegative, safetyNegative, frameNegative].filter(has).join(', ');\n  const finalPrompt  = positive + '\\n\\n| NEGATIVE: ' + fullNegative;\n\n  // paragraphIndex vom AI-Output durchreichen — wird im HTML-Assembler genutzt,\n  // um Bilder zwischen den richtigen Absätzen zu platzieren.\n  const paragraphIndex = (typeof s.paragraphIndex === 'number' && s.paragraphIndex >= 1) ? s.paragraphIndex : null;\n\n  return {\n    json: {\n      ...prev,\n      sceneIndex: sceneNo,\n      paragraphIndex,\n      imagePrompt: finalPrompt,\n      imageFilename: prev.slug + '-' + sceneNo + '.png',\n      imageGithubPath: 'social-stories/bilder/' + prev.slug + '-' + sceneNo + '.png',\n      geminiRequestBody: {\n        contents: [{ role: 'user', parts: [{ text: finalPrompt }] }],\n        generationConfig: { responseModalities: ['image', 'text'] }\n      }\n    }\n  };\n});\n"
        },
        "id": "parse-scenes",
        "name": "Szenen parsen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4368,
          704
        ]
      },
      {
        "parameters": {
          "url": "https://raw.githubusercontent.com/RaLa84/ass-elternkreis-nwm/main/n8n-pipeline/n8n-config/demo-template.html",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "id": "fetch-template",
        "name": "GitHub: Template laden",
        "position": [
          4832,
          864
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// HTML-Assembler für SHG Social-Stories.\n// Baut aus Story-Text + Bild-Positionen ein fertiges Article-HTML zusammen,\n// das vom n8n-Workflow ins SHG-Repo gepusht wird (social-stories/<altersgruppe>/<slug>.html).\n// Lesekumpel-spezifische Features (Quiz, Schatzsuche, Weitererzählen, Wortschatz,\n// Persona-Avatar, Emoji-Versionen) sind im neuen SHG-Template nicht mehr enthalten\n// und werden hier deshalb ignoriert, selbst wenn die vorgeschalteten Workflow-Nodes\n// sie noch liefern.\n\nconst data = $('Geschichte parsen').first().json;\nlet template = $input.item.json.data;\n\nconst SITE_BASE = 'https://www.ass-elternkreis-nwm.de';\nconst altersgruppe = (data.altersgruppe || 'allgemein').toString().trim().toLowerCase();\nconst slug = (data.slug || 'neue-geschichte').toString();\nconst storyPath = `social-stories/${altersgruppe}/${slug}.html`;\nconst today = new Date().toISOString().slice(0, 10);\nconst storyDate = (data.date || today).toString().slice(0, 10);\n\nfunction htmlEscape(s) {\n  return String(s ?? '')\n    .replace(/&/g, '&amp;').replace(/\"/g, '&quot;')\n    .replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\n\n// SEO-Beschreibung: aus description, ohne Lesekumpel-Präfixe.\nconst descRaw = (data.description || data.title || '').toString().trim();\nconst metaDescription = descRaw.length > 157 ? descRaw.substring(0, 157).trimEnd() + '…' : descRaw;\nconst metaKeywords = ['Soziale Geschichte', 'Autismus', 'ASS', 'Carol Gray', data.genre, data.title]\n  .filter(Boolean).join(', ');\n\n// Hero = scene 1. Inline-Bilder ab scene 2 (verhindert Doppelung).\nconst heroImageUrl = `${SITE_BASE}/social-stories/bilder/${slug}-1.png`;\nconst imageCount = Number(data.imageCount || 0);\n\n// imagePositions baue ich aus den Szenen-Items zusammen — jedes Szene-Item kommt\n// aus 'Szenen parsen' und enthält sceneIndex + paragraphIndex (sofern AI ihn lieferte).\n// paragraphIndex ist 0-basiert; per Konvention >= 1 (Story beginnt immer mit Prosa).\n// Bild scene 1 ist als geblurrtes Hero-Bild ZUSÄTZLICH oben — die klare Inline-Version\n// folgt unten an der vom AI gewählten paragraphIndex-Position.\nconst positionsByParagraph = new Map();\ntry {\n  const sceneItems = $('Szenen parsen').all() || [];\n  for (const item of sceneItems) {\n    const j = item.json || {};\n    const scene = j.sceneIndex;\n    const pIdx = j.paragraphIndex;\n    if (typeof scene === 'number' && scene >= 1 && scene <= imageCount &&\n        typeof pIdx === 'number' && pIdx >= 1) {\n      positionsByParagraph.set(pIdx, scene);\n    }\n  }\n} catch (e) { /* fallback regelt das */ }\n\n// Silbentrennung entfernen: Sicherheitsnetz, falls die LLM trotz Prompt-Verbot\n// doch Häppchen-Trennung produziert (Lesekumpel-Erbe im Gemini-Trainingskontext).\nfunction removeHyphenation(s) {\n  const pat = /([a-zäöüßA-ZÄÖÜ])-([a-zäöüß])/g;\n  let prev;\n  do { prev = s; s = s.replace(pat, '$1$2'); } while (prev !== s);\n  return s;\n}\nconst paragraphs = (data.storyText || '').toString().split(/\\n\\n+/)\n  .map(p => removeHyphenation(p.trim()))\n  .filter(Boolean);\nlet storyHtml = '';\nfor (let i = 0; i < paragraphs.length; i++) {\n  if (positionsByParagraph.has(i)) {\n    const scene = positionsByParagraph.get(i);\n    const imgUrl = `${SITE_BASE}/social-stories/bilder/${slug}-${scene}.png`;\n    storyHtml += `          <img src=\"${imgUrl}\" alt=\"${htmlEscape(data.title)} – Bild ${scene}\" loading=\"lazy\">\\n`;\n  }\n  storyHtml += `          <p>${htmlEscape(paragraphs[i])}</p>\\n`;\n}\n// Falls keine Position-Mappings vorhanden: alle Bilder ab scene 1 ans Ende, damit nichts verloren geht.\nif (positionsByParagraph.size === 0 && imageCount >= 1) {\n  for (let scene = 1; scene <= imageCount; scene++) {\n    const imgUrl = `${SITE_BASE}/social-stories/bilder/${slug}-${scene}.png`;\n    storyHtml += `          <img src=\"${imgUrl}\" alt=\"${htmlEscape(data.title)} – Bild ${scene}\" loading=\"lazy\">\\n`;\n  }\n}\n\ntemplate = template\n  .replace(/\\{\\{STORY_TITLE\\}\\}/g, htmlEscape(data.title || ''))\n  .replace(/\\{\\{STORY_HTML\\}\\}/g, storyHtml.trimEnd())\n  .replace(/\\{\\{HERO_IMAGE_URL\\}\\}/g, heroImageUrl)\n  .replace(/\\{\\{META_DESCRIPTION\\}\\}/g, htmlEscape(metaDescription))\n  .replace(/\\{\\{META_KEYWORDS\\}\\}/g, htmlEscape(metaKeywords))\n  .replace(/\\{\\{STORY_PATH\\}\\}/g, storyPath)\n  .replace(/\\{\\{STORY_DATE\\}\\}/g, htmlEscape(storyDate))\n  .replace(/\\{\\{SLUG\\}\\}/g, slug);\n\n// Safety-Net: verbliebene Platzhalter loggen und auf '' stripen\nconst residuals = template.match(/\\{\\{[A-Z_]+\\}\\}/g);\nif (residuals) {\n  const unique = [...new Set(residuals)];\n  console.warn('HTML assemblieren: unresolved placeholders ->', unique.join(', '));\n  template = template.replace(/\\{\\{[A-Z_]+\\}\\}/g, '');\n}\n\nconst htmlBase64 = Buffer.from(template, 'utf8').toString('base64');\nconst storyUrl = `${SITE_BASE}/${storyPath}`;\n\nreturn {\n  json: {\n    ...data,\n    htmlBase64,\n    filePath: storyPath,\n    commitMessage: `Social Story: ${data.title || slug}`,\n    storyUrl\n  }\n};\n"
        },
        "id": "assemble-html",
        "name": "HTML assemblieren",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5056,
          864
        ]
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "RaLa84",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "ass-elternkreis-nwm",
            "mode": "list",
            "cachedResultName": "ass-elternkreis-nwm",
            "cachedResultUrl": "https://github.com/RaLa84/ass-elternkreis-nwm"
          },
          "filePath": "={{ $json.filePath }}",
          "fileContent": "={{ $json.htmlBase64 }}",
          "commitMessage": "={{ $json.commitMessage }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "id": "commit-html",
        "name": "GitHub: HTML committen",
        "position": [
          5280,
          864
        ],
        "webhookId": "a24009a2-58fa-4d0a-87cf-7cb2b0b96dde",
        "credentials": {
          "githubOAuth2Api": {
            "id": "WBP07xjckQiul5s7",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const data = $('HTML assemblieren').first().json;\nreturn { json: { status: 'success', storyTitle: data.title, personaName: data.personaName, stufe: data.stufe, wordCount: data.wordCount, imageCount: data.imageCount, storyUrl: data.storyUrl } };\n"
        },
        "id": "build-result",
        "name": "Ergebnis aufbauen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5488,
          864
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "return { json: { status: \"success\", storyTitle: $input.item.json.storyTitle, storyUrl: $input.item.json.storyUrl, personaName: $input.item.json.personaName, stufe: $input.item.json.stufe, wordCount: $input.item.json.wordCount } };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "id": "form-response",
        "name": "Webhook-Antwort",
        "position": [
          5712,
          864
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const d = $input.item.json;\n\n// Hard constraints für die Hauptfigur kommen aus 'Daten vorbereiten':\n// mainCharacterAge (Mitte der Altersgruppe) und mainCharacterGender\n// (Webhook-Override oder deterministische Rotation über Slug-Hash).\n// Ohne diese Vorgabe würde der Extraktor das Alter aus dem Story-Text\n// raten (meistens 8) und das Geschlecht aus seinem Trainingsbias wählen\n// (fast immer männlich).\nconst mainCharAge = (typeof d.mainCharacterAge === 'number') ? d.mainCharacterAge : 9;\nconst mainCharGender = d.mainCharacterGender || 'female';\nconst HEIGHT_CATEGORY = mainCharAge < 12 ? 'child' : (mainCharAge < 19 ? 'teen' : 'adult');\n\nconst mainCharacterConstraints = [\n  'MANDATORY MAIN CHARACTER CONSTRAINTS — non-negotiable:',\n  `- The narrating \"Ich\" (storyteller, role=\"main\") MUST be exactly ${mainCharAge} years old.`,\n  `- The narrating \"Ich\" MUST be of gender: ${mainCharGender}.`,\n  `- body.heightCategory MUST be \"${HEIGHT_CATEGORY}\".`,\n  `- The character's body proportions, facial features, hair style and outfit MUST be plausible for a ${mainCharAge}-year-old ${mainCharGender} person.`,\n  '- For diversity: vary skin tone, hair color and hair style across stories — do not default to fair-skinned light-brown-haired.',\n  '- This applies even if the story text uses neutral \"ich\"/\"mein\" without explicit age or gender markers.',\n  ''\n].join('\\n');\n\nconst elementsUserPrompt = `${mainCharacterConstraints}Analyze this German children's story and extract ALL visual elements needed to illustrate it consistently and physically plausibly.\n\nOutput ONLY a JSON object (no markdown, no explanation):\n{\n  \"characters\": [\n    {\n      \"name\": \"Character name\",\n      \"type\": \"human | animal | creature | object\",\n      \"role\": \"main | supporting\",\n      \"species\": \"Required for animal/creature only — concrete species, e.g., 'European eagle owl', 'tabby cat'\",\n      \"ageYears\": 8,\n      \"body\":    { \"heightCategory\": \"child | teen | adult\", \"build\": \"slim | average | sturdy\" },\n      \"hair\":    { \"color\": \"light brown\", \"style\": \"pigtails\", \"length\": \"shoulder-length\" },\n      \"eyes\":    { \"color\": \"blue\" },\n      \"skin\":    { \"tone\": \"fair\" },\n      \"outfit\":  {\n        \"top\":         \"yellow t-shirt with small rocket print on the front\",\n        \"bottom\":      \"blue denim shorts ending above the knee\",\n        \"footwear\":    \"white sneakers with red laces\",\n        \"accessories\": \"none\"\n      },\n      \"fur\":     { \"color\": \"tabby brown with darker stripes\", \"pattern\": \"mackerel tabby\" },\n      \"distinguishingFeatures\": []\n    }\n  ],\n  \"props\": [\n    {\n      \"name\": \"Item name\",\n      \"color\": \"metallic gold and red\",\n      \"material\": \"glossy cardstock\",\n      \"size\": \"trading-card size\",\n      \"shape\": \"rectangular\",\n      \"count\": 1,\n      \"heldBy\": \"Character name or null\",\n      \"heldIn\": \"left hand | right hand | both hands | none\"\n    }\n  ],\n  \"setting\": {\n    \"location\":       \"sunny sandy beach by the sea\",\n    \"timeOfDay\":      \"midday\",\n    \"weather\":        \"clear blue sky, gentle breeze\",\n    \"lightDirection\": \"sunlight from upper right (shadows fall to lower left)\"\n  },\n  \"sceneRules\": [\n    \"Each rule is ONE English sentence stating a GLOBAL INVARIANT valid in EVERY scene of the story (not a specific moment or action).\"\n  ]\n}\n\nSlot rules (MANDATORY):\n\nCHARACTERS — common fields:\n- \"type\" is REQUIRED with EXACTLY one of: \"human\", \"animal\", \"creature\", \"object\".\n- \"role\" is REQUIRED (\"main\" or \"supporting\").\n- \"distinguishingFeatures\" is an array of short English strings — empty array if none.\n\nCHARACTERS — type=\"human\":\n- \"ageYears\" (integer), \"body.heightCategory\" (\"child\"|\"teen\"|\"adult\"), \"body.build\" are REQUIRED.\n- \"hair\" (color, style, length), \"eyes.color\", \"skin.tone\" are REQUIRED.\n- \"outfit\" is REQUIRED with ALL FOUR sub-slots filled (top, bottom, footwear, accessories).\n  Each outfit slot describes one specific garment with color, fabric/material, distinctive detail.\n  Use \"none\" only for accessories. Top/bottom/footwear must always describe a real garment.\n- \"species\" and \"fur\" MUST be null.\n- If the story does not mention an outfit detail, INVENT ONE concrete outfit and keep it consistent.\n\nCHARACTERS — type=\"animal\":\n- \"species\" is REQUIRED (concrete real-world species).\n- \"fur\" (color, pattern) is REQUIRED. For feathered animals use \"fur\" anyway and describe plumage there.\n- \"eyes.color\" is REQUIRED. \"body.build\" describes anatomy (e.g., \"small slim cat body\").\n- \"outfit\", \"hair\", \"skin\", \"ageYears\", \"body.heightCategory\" MUST be null.\n- The animal is a REAL animal, not anthropomorphic. NEVER describe clothing or accessories.\n- Exception: only if the story text EXPLICITLY says the animal wears clothes, then fill \"outfit\".\n\nCHARACTERS — type=\"creature\":\n- \"species\" is REQUIRED (e.g., \"dragon\", \"unicorn\").\n- Fill the slots that make sense for the creature; set others to null.\n- \"outfit\" only if the creature wears garments in the story; otherwise null.\n\nCHARACTERS — type=\"object\":\n- \"ageYears\", \"body\", \"hair\", \"eyes\", \"skin\", \"outfit\", \"species\", \"fur\" MUST be null.\n- \"distinguishingFeatures\" describes material, color, shape, function in 1–3 short strings.\n\nPROPS:\n- \"count\" (integer) and \"heldIn\" REQUIRED.\n- \"color\", \"material\", \"size\", \"shape\" REQUIRED — describe so two illustrators would draw the same object.\n- \"heldBy\" is the character NAME holding the prop, or null if it sits in the setting.\n\nSETTING:\n- All four sub-slots (\"location\", \"timeOfDay\", \"weather\", \"lightDirection\") REQUIRED.\n- \"lightDirection\" describes WHERE light comes from so shadow direction stays consistent across scenes.\n\nSCENE RULES:\n- 2–4 GLOBAL INVARIANTS only. Do NOT include moment-specific actions or positions.\n- MUST always include: \"Only the characters named in the story appear; do not invent extra people or animals.\"\n- MUST always include: \"Each named character appears at most once per image.\"\n- For paired / count-specific props add an invariant fixing counts and hand assignment.\n\nCONSISTENCY:\n- If the story does not mention a visual detail, INVENT a plausible value and keep it consistent.\n- Once invented, treat it as fixed canon — do not vary it between fields.\n\nStory:\n${d.storyText}`;\nreturn { json: { ...d, elementsUserPrompt } };\n"
        },
        "id": "elements-prep",
        "name": "Story-Elemente vorbereiten",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3152,
          704
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.elementsUserPrompt }}",
          "messages": {
            "messageValues": [
              {
                "message": "Du bist ein visueller Charakterdesigner für Kinderbücher und sorgst für physische Plausibilität.\nExtrahiere detaillierte, konsistente visuelle Beschreibungen aller Figuren, Gegenstände und Schauplätze.\n\nPFLICHT:\n- Jede Figur hat eine explizite Alterszahl (ageYears) und Größenkategorie (heightCategory).\n- Jedes Prop hat count (Anzahl) und heldIn (Hand-Slot).\n- sceneRules sind GLOBALE INVARIANTEN, die in JEDEM Bild der Story gelten müssen. KEINE moment-spezifischen Aktionen oder Positionen einer einzelnen Story-Szene (wie 'Mats sitzt im Cockpit').\n- sceneRules enthält 2-4 Invarianten-Sätze auf Englisch, z.B.:\n  - \"All human characters are 8 years old and child-sized.\"\n  - \"Only the characters named in the story appear; do not invent extra people.\"\n  - \"Each named character appears at most once per image.\"\n  - \"Paired props like shield and lance are always count=1 each; the shield is in the left hand, the lance in the right.\"\n- sceneRules enthält IMMER den Satz: \"Only the characters named in the story appear; do not invent extra people.\"\n- sceneRules enthält IMMER den Satz: \"Each named character appears at most once per image.\"\n\nAntworte NUR mit dem JSON-Objekt — kein Markdown, keine Erklärungen.\n\nDIVERSITAET (gilt nur fuer menschliche Figuren):\n- Hauptfigur explizit aus dem Story-Inhalt ableiten. Wenn die Story Geschlecht, Alter oder Aussehen nennt: woertlich uebernehmen.\n- Wenn die Story die Hauptfigur OFFEN laesst: zufaellig variieren ueber Geschlecht (Junge / Maedchen / divers), Hautton (hell / mittel / dunkel), Haarfarbe (blond / braun / schwarz / rot) und Haarlaenge.\n- Vermeide den Default \"8-jaehriges weisses Maedchen mit braunen Haaren\" - das ist der Modell-Bias und fuehrt zu identisch wirkenden Figuren ueber alle Geschichten hinweg.\n\nTIER-ONLY-REGEL bei Sachtexten und Wissens-Geschichten:\n- Wenn die Story eine Sachgeschichte ueber ein Tier ist (Delfin, Pinguin, Wal, Biene, Tintenfisch etc.) und KEINE menschliche Figur namentlich benennt: extrahiere NUR das Tier, KEINEN menschlichen Beobachter. characters[] enthaelt dann ausschliesslich Eintraege mit type=\"animal\".\n- Erfinde niemals einen menschlichen Erzaehler, Beobachter oder Forscher dazu.\n\nSETTING-PLAUSIBILITAET (zusaetzliche sceneRules bei menschlichen Figuren):\n- Wenn menschliche Figuren in der Story vorkommen, fuege zusaetzlich diese Saetze in sceneRules ein:\n  - \"Humans appear only in plausible settings; humans cannot be underwater, in lava, in outer space, or inside walls unless the story explicitly says so.\"\n  - \"If the story describes a wild animal in its habitat (ocean, polar ice, jungle), humans observe from a plausible vantage point (boat, shore, aquarium, pier) - never share the same physical space as the wild animal in its hostile environment.\""
              }
            ]
          },
          "batching": {}
        },
        "id": "agent-elements",
        "name": "🧩 Story-Elemente extrahieren",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          3392,
          704
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 3000
      },
      {
        "parameters": {
          "options": {
            "temperature": 0.1,
            "topP": 0.8
          }
        },
        "id": "llm-elements",
        "name": "⚙️ Gemini (Elemente)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          3392,
          880
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "6COxa9BJR4aj2W2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const prev = $('Story-Elemente vorbereiten').first().json;\nconst rawText = $input.first().json.text || '';\n\nlet storyElements = { characters: [], props: [], setting: '', sceneRules: [] };\ntry {\n  const m = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (m) storyElements = JSON.parse(m[0]);\n} catch(e) {}\n\nif (!Array.isArray(storyElements.sceneRules)) storyElements.sceneRules = [];\nif (!Array.isArray(storyElements.characters)) storyElements.characters = [];\nif (!Array.isArray(storyElements.props))      storyElements.props      = [];\n\nconst clothingRegex = new RegExp(\"\\\\b(wearing|shirt|dress|trousers|pants|shorts|jacket|hoodie|coat|sweater|skirt|outfit|clothes|kleidung)\\\\b\", \"i\");\n\nfunction clean(s) {\n  return (s == null ? '' : String(s)).trim();\n}\nfunction has(s) { return clean(s).length > 0 && clean(s).toLowerCase() !== 'null'; }\n\nfunction indent2(s) {\n  return clean(s).split('\\n').map(l => '    ' + l).join('\\n');\n}\n\nfunction filterVisualOnlyDF(arr) {\n  // Filtert Eintraege heraus, die Verhalten/Biologie statt visueller Merkmale beschreiben.\n  // Verhaltens-Eintraege (\"One eye remains open while sleeping\") werden vom Bildmodell\n  // visuell umgesetzt und produzieren Uncanny-Valley-Artefakte.\n  const BEHAVIOR_RE = /\\b(while|when|during|whenever|always|sometimes|remains?|stays?|becomes?|sleeps?|sleeping|asleep|dreams?|dreaming|swims?|swimming|flies|flying|flew|walking|running|jumping|jumps?|dancing|dances?|sings?|singing|breathes?|breathing|breath|observes?|observing|watches?|watching|listens?|listening|hunts?|hunting|hides?|hiding|eats?|eating|drinks?|drinking|rests?|resting|awake|alert|active|asleep|half\\s*of\\s*its\\s*brain|brain\\s*rests)\\b/i;\n  return (arr || []).filter(s => {\n    const t = String(s || '').trim();\n    if (!t) return false;\n    if (BEHAVIOR_RE.test(t)) return false;\n    return true;\n  });\n}\n\nfunction buildHumanBlock(c, idx) {\n  const lines = [];\n  const name  = clean(c.name) || ('Character #' + idx);\n  const age   = (typeof c.ageYears === 'number' && c.ageYears > 0) ? (c.ageYears + '-year-old ') : '';\n  const heightCat = clean(c.body && c.body.heightCategory) || 'child';\n  const build     = clean(c.body && c.body.build) || 'average';\n  lines.push(`CHARACTER #${idx} — ${name} (${age}${heightCat}):`);\n  lines.push(`  BODY:    ${build} ${heightCat} build`);\n  if (c.hair) {\n    const h = [clean(c.hair.color), clean(c.hair.style), clean(c.hair.length)].filter(has).join(', ');\n    if (h) lines.push(`  HAIR:    ${h}`);\n  }\n  if (c.eyes && has(c.eyes.color)) lines.push(`  EYES:    ${clean(c.eyes.color)}`);\n  if (c.skin && has(c.skin.tone))  lines.push(`  SKIN:    ${clean(c.skin.tone)}`);\n\n  // OUTFIT — verbatim slots. Force fallback wenn LLM nichts geliefert hat.\n  const o = c.outfit || {};\n  let top         = clean(o.top);\n  let bottom      = clean(o.bottom);\n  let footwear    = clean(o.footwear);\n  let accessories = clean(o.accessories) || 'none';\n  if (!has(top))      top      = 'plain casual t-shirt in a neutral color';\n  if (!has(bottom))   bottom   = 'plain casual trousers';\n  if (!has(footwear)) footwear = 'simple closed shoes';\n  lines.push(`  OUTFIT (identical in every scene — never alter):`);\n  lines.push(`    TOP:         ${top}`);\n  lines.push(`    BOTTOM:      ${bottom}`);\n  lines.push(`    FOOTWEAR:    ${footwear}`);\n  lines.push(`    ACCESSORIES: ${accessories}`);\n\n  const dfArr = filterVisualOnlyDF(Array.isArray(c.distinguishingFeatures) ? c.distinguishingFeatures.filter(has) : []);\n  if (dfArr.length > 0) lines.push(`  DISTINGUISHING: ${dfArr.join('; ')}`);\n  return lines.join('\\n');\n}\n\nfunction buildAnimalBlock(c, idx) {\n  const lines = [];\n  const name    = clean(c.name) || ('Animal #' + idx);\n  const species = clean(c.species) || 'animal';\n  lines.push(`CHARACTER #${idx} — ${name} (real ${species}, anatomically accurate animal — NOT a person, NOT a child, NOT in costume, no clothing):`);\n  if (c.fur) {\n    const f = [clean(c.fur.color), clean(c.fur.pattern)].filter(has).join(', ');\n    if (f) lines.push(`  FUR/PLUMAGE: ${f}`);\n  }\n  if (c.eyes && has(c.eyes.color)) lines.push(`  EYES:        ${clean(c.eyes.color)}`);\n  if (c.body && has(c.body.build)) lines.push(`  BODY:        ${clean(c.body.build)}`);\n  const dfArr = filterVisualOnlyDF(Array.isArray(c.distinguishingFeatures) ? c.distinguishingFeatures.filter(has) : []);\n  if (dfArr.length > 0) lines.push(`  DISTINGUISHING: ${dfArr.join('; ')}`);\n  return lines.join('\\n');\n}\n\nfunction buildCreatureBlock(c, idx) {\n  const lines = [];\n  const name    = clean(c.name) || ('Creature #' + idx);\n  const species = clean(c.species) || 'fantasy creature';\n  lines.push(`CHARACTER #${idx} — ${name} (fantasy ${species}, picture-book creature):`);\n  if (c.body) {\n    const b = [clean(c.body.heightCategory), clean(c.body.build)].filter(has).join(', ');\n    if (b) lines.push(`  BODY:    ${b}`);\n  }\n  if (c.fur) {\n    const f = [clean(c.fur.color), clean(c.fur.pattern)].filter(has).join(', ');\n    if (f) lines.push(`  HIDE:    ${f}`);\n  }\n  if (c.eyes && has(c.eyes.color)) lines.push(`  EYES:    ${clean(c.eyes.color)}`);\n  if (c.outfit && (has(c.outfit.top) || has(c.outfit.bottom))) {\n    lines.push(`  OUTFIT:`);\n    if (has(c.outfit.top))    lines.push(`    TOP:    ${clean(c.outfit.top)}`);\n    if (has(c.outfit.bottom)) lines.push(`    BOTTOM: ${clean(c.outfit.bottom)}`);\n  }\n  const dfArr = filterVisualOnlyDF(Array.isArray(c.distinguishingFeatures) ? c.distinguishingFeatures.filter(has) : []);\n  if (dfArr.length > 0) lines.push(`  DISTINGUISHING: ${dfArr.join('; ')}`);\n  return lines.join('\\n');\n}\n\nfunction buildObjectBlock(c, idx) {\n  const name = clean(c.name) || ('Object #' + idx);\n  const df   = Array.isArray(c.distinguishingFeatures) ? c.distinguishingFeatures.filter(has) : [];\n  const detail = df.length > 0 ? df.join('; ') : 'inanimate object from the story';\n  return `CHARACTER #${idx} — ${name} (inanimate object): ${detail}`;\n}\n\nfunction buildCharacterBlock(c, idx) {\n  const t = (c && c.type || 'human').toString().toLowerCase();\n  if (t === 'animal')   return buildAnimalBlock(c, idx);\n  if (t === 'creature') return buildCreatureBlock(c, idx);\n  if (t === 'object')   return buildObjectBlock(c, idx);\n  return buildHumanBlock(c, idx);\n}\n\nfunction buildPropBlock(p, idx) {\n  const lines = [];\n  const name = clean(p.name) || ('Prop #' + idx);\n  lines.push(`PROP #${idx} — ${name}:`);\n  if (has(p.color))    lines.push(`  COLOR:    ${clean(p.color)}`);\n  if (has(p.material)) lines.push(`  MATERIAL: ${clean(p.material)}`);\n  if (has(p.size))     lines.push(`  SIZE:     ${clean(p.size)}`);\n  if (has(p.shape))    lines.push(`  SHAPE:    ${clean(p.shape)}`);\n  if (typeof p.count === 'number') lines.push(`  COUNT:    ${p.count}`);\n  if (has(p.heldBy))   lines.push(`  HELD BY:  ${clean(p.heldBy)} (${clean(p.heldIn) || 'see story'})`);\n  else if (has(p.heldIn) && clean(p.heldIn) !== 'none') lines.push(`  HELD IN:  ${clean(p.heldIn)}`);\n  return lines.join('\\n');\n}\n\nfunction buildSettingBlock(s) {\n  if (!s) return '';\n  if (typeof s === 'string') {\n    return `SETTING ANCHOR (global atmosphere stays constant; micro-location varies per scene per 'Setting focus'):\\n  ${clean(s)}`;\n  }\n  const lines = [\"SETTING ANCHOR (global atmosphere stays constant; micro-location varies per scene per 'Setting focus'):\"];\n  if (has(s.location))       lines.push(`  LOCATION:        ${clean(s.location)}`);\n  if (has(s.timeOfDay))      lines.push(`  TIME-OF-DAY:     ${clean(s.timeOfDay)}`);\n  if (has(s.weather))        lines.push(`  WEATHER:         ${clean(s.weather)}`);\n  if (has(s.lightDirection)) lines.push(`  LIGHT DIRECTION: ${clean(s.lightDirection)} (consistent shadow direction)`);\n  return lines.join('\\n');\n}\n\nconst characterBlocks = storyElements.characters.map((c, i) => buildCharacterBlock(c, i + 1));\nconst propBlocks      = storyElements.props.map((p, i) => buildPropBlock(p, i + 1));\nconst settingBlock    = buildSettingBlock(storyElements.setting);\n\nconst visualLockSections = [];\nif (characterBlocks.length > 0) visualLockSections.push(characterBlocks.join('\\n\\n'));\nif (propBlocks.length > 0)      visualLockSections.push(propBlocks.join('\\n\\n'));\nif (settingBlock)               visualLockSections.push(settingBlock);\n\nconst visualLock = visualLockSections.length > 0\n  ? '=== VISUAL LOCK (REPEAT VERBATIM IN EVERY SCENE — NEVER ALTER) ===\\n\\n'\n    + visualLockSections.join('\\n\\n')\n    + '\\n\\n=== END VISUAL LOCK ==='\n  : '';\n\n// characterReference bleibt als String erhalten (downstream-Kompat) — jetzt = VISUAL LOCK\nconst characterReference = visualLock;\n\nconst sceneRules = storyElements.sceneRules.filter(r => typeof r === 'string' && r.length > 0);\n\nconst hasNonHumanCharacter = (storyElements.characters || []).some(c => {\n  const t = (c.type || 'human').toString().toLowerCase();\n  return t === 'animal' || t === 'creature';\n});\n\nreturn { json: { ...prev, storyElements, characterReference, visualLock, sceneRules, hasNonHumanCharacter } };\n"
        },
        "id": "parse-elements",
        "name": "Elemente parsen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3648,
          704
        ]
      },
      {
        "id": "agent-mia",
        "name": "✍️ Carol-Gray-Autor",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1600,
          412
        ],
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.userPrompt }}",
          "messages": {
            "messageValues": [
              {
                "message": "# Carol-Gray-Autor — Systemprompt\n\n## ROLLE & AUFTRAG\n\nDu schreibst eine **Social Story** streng nach der Methode von **Carol Gray (1993)**.\nZielgruppe: ein autistisches Kind oder ein autistischer Jugendlicher / Erwachsener.\nDie Geschichte bereitet konkret auf eine reale Situation vor und unterstützt ein\ndefiniertes Verhaltensziel. Titel, Situation, Verhaltensziel und Altersgruppe\nstehen im User-Prompt.\n\nDeine Aufgabe ist es **nicht**, zu unterhalten, zu ermahnen oder zu lehren. Sondern:\ndie Situation **vorhersagbar machen**, **sensorische Reize ehrlich beschreiben**\nund der lesenden Person eine **innere Landkarte** für den Ablauf geben.\n\n## CAROL-GRAY-SATZTYPEN (verbindlich)\n\nVerwende ausschließlich diese vier Satztypen. Markiere sie NICHT im Output —\nsie strukturieren nur dein Denken beim Schreiben.\n\n1. **DESKRIPTIV** — objektive Beobachtung, was passiert.\n   Beispiel: „Im Wartezimmer sitzen Menschen auf bunten Stühlen.\"\n\n2. **PERSPEKTIVISCH** — Gedanken, Gefühle, Beweggründe anderer Menschen.\n   Beispiel: „Die Helferin freut sich, wenn ich freundlich grüße.\"\n\n3. **DIREKTIV** — was ICH tun kann oder versuchen kann (selten verwenden).\n   Beispiel: „Ich kann ruhig atmen, wenn der Bohrer summt.\"\n\n4. **AFFIRMATIV** — bekräftigend, beruhigend, normalisierend.\n   Beispiel: „Das ist okay. Viele Kinder gehen zum Zahnarzt.\"\n\n### Verhältnis-Regel (Carol-Gray-Original)\n\nAuf **jeden DIREKTIV-Satz** kommen mindestens **2 bis 5 andere Sätze**\n(DESKRIPTIV, PERSPEKTIVISCH oder AFFIRMATIV).\nDIREKTIV-Sätze sind die seltenste Sorte. Maximal **1 bis 2 DIREKTIV-Sätze**\nin der ganzen Geschichte.\n\n## PERSPEKTIVE & STIMME\n\n- **Ich-Perspektive** (die lesende Person erzählt selbst).\n  KEIN „du\", KEIN „Sie\", KEIN „man\".\n- **Präsens** durchgehend.\n- **Hauptsätze** bevorzugt. Einfache Nebensätze (wenn, weil, dass) erlaubt.\n- **Konkrete Personen** statt vager Begriffe: „der Zahnarzt\", „Mama\",\n  „die Helferin\" — nicht „die anderen\", „jemand\".\n\n## SPRACHE NACH ALTERSGRUPPE\n\n- **vorschule** (0–6 J.): max. **8 Wörter pro Satz**. Keine Fremdwörter.\n  Sehr kurze Hauptsätze. Wiederholung erlaubt.\n- **grundschule** (6–12 J.): max. **12 Wörter pro Satz**. Klare Begriffe,\n  Fachwörter beim ersten Mal erklären.\n- **teenager** (12–18 J.): max. **15 Wörter pro Satz**. Fachbegriffe erlaubt,\n  beim ersten Mal kurz erklären.\n- **junge-erwachsene** (18–30 J.): nuancierter, aber direkt. Keine\n  Verniedlichung. Erwachsene Ansprache.\n- **erwachsene** (30+ J.): sachlich, erwachsen, ohne Belehrungston.\n  Selbstbestimmt formuliert.\n\n## STIL-REGELN (für alle Altersgruppen)\n\n- **KEINE Silbentrennung im Text.** Schreibe normale, durchgehende Wörter\n  („heute\" statt „Heu-te\", „Zahnarzt\" statt „Zah-narzt\"). Die lesende Person\n  bekommt die Story als Fließtext im SHG-Webdesign präsentiert —\n  Häppchen-Trennung ist hier fehl am Platz.\n- **KEINE Ironie, KEINE Metaphern, KEIN Sarkasmus.** Autistische Leser:innen\n  nehmen die Sprache wörtlich.\n- **Gefühle benennen UND einordnen**: „Mein Bauch kribbelt. Das nennt man\n  aufgeregt sein.\" Niemals nur „Ich fühlte mich komisch.\"\n- **„Manchmal\" / „vielleicht\" / „oft\"** verwenden statt „immer\" / „nie\".\n  Absolute Aussagen ohne Ausnahme erzeugen Druck und stimmen oft nicht.\n- **Sensorische Details ehrlich benennen** — was sehe ich, was höre ich,\n  was rieche ich, was fühle ich auf der Haut? Auch unangenehme Reize\n  (Bohrergeräusch, helles Licht, kalte Hände) nicht beschönigen.\n- **Sicherheitsanker einbauen**: Wer ist dabei? Was bleibt gleich?\n  Was kann ich nutzen, wenn es schwer wird?\n\n## STORY-BOGEN (6 Absätze für 5 Bilder)\n\n1. **Einstieg / Ankunft** — Was passiert heute? Wo bin ich? Wer ist dabei?\n   Nur DESKRIPTIV.\n\n2. **Vorbereitung / Warten** — Was kommt als Nächstes? Was sehe ich, was\n   höre ich? DESKRIPTIV + PERSPEKTIV.\n\n3. **Erste Schritte** — Was passiert jetzt mit/an mir? Mit welchen Reizen?\n   DESKRIPTIV + AFFIRMATIV. Sensorisches ehrlich benennen.\n\n4. **Höhepunkt der Situation** — Der zentrale Moment, auf den die Geschichte\n   vorbereitet. DESKRIPTIV + PERSPEKTIV + AFFIRMATIV. Hier zeigt sich das\n   Verhaltensziel als Teil des Geschehens.\n\n5. **Bewältigung** — Was kann ICH tun, wenn es schwierig wird? Hier passt\n   **maximal 1 DIREKTIV-Satz** — eingebettet in AFFIRMATIVE Sätze.\n\n6. **Abschluss** — Wie endet die Situation? Wie fühle ich mich danach?\n   AFFIRMATIV + PERSPEKTIV. Positives, aber realistisches Ende. Keine\n   Überhöhung (\"Das war das schönste Erlebnis meines Lebens.\").\n\n## AUSGABE — Formatregeln\n\n- **Länge: 200–300 Wörter** über alle 6 Absätze zusammen.\n- **6 Absätze** durch jeweils eine **Leerzeile** trennen (\\n\\n).\n- **KEIN Titel** im Output — der Titel kommt aus dem Webhook und wird vom\n  Renderer separat über der Story angezeigt.\n- **KEINE Vorrede**, keine Einleitungssätze wie „Hier ist deine Geschichte:\".\n- **KEINE Erklärung** der verwendeten Satztypen am Ende.\n- **KEIN Markdown** — reiner Fließtext mit Absatztrennung.\n\nBeginne den ersten Absatz direkt mit der Ich-Perspektive.\n"
              }
            ]
          },
          "hasOutputParser": false,
          "needsFallback": false
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 3000
      },
      {
        "id": "llm-mia",
        "name": "⚙️ Gemini (Carol-Gray)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1600,
          604
        ],
        "parameters": {
          "modelName": "models/gemini-2.5-pro",
          "options": {}
        },
        "credentials": {
          "googlePalmApi": {
            "id": "6COxa9BJR4aj2W2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const prev = $input.first().json;\n\nif (!prev.imageCount || prev.imageCount === 0) {\n  return [{ json: { ...prev, skipImages: true } }];\n}\n\n// Style-Reference-URL aus Bildstil ableiten (unverändert)\nconst STYLE_REFS = {\n  'Aquarell':  'bilder/bildstil-vorschau/neutral/aquarell.png',\n  'Cartoon':   'bilder/bildstil-vorschau/neutral/cartoon.png',\n  'Buntstift': 'bilder/bildstil-vorschau/neutral/buntstift.png',\n  'Pixel-Art': 'bilder/bildstil-vorschau/neutral/pixel-art.png',\n  'Anime':     'bilder/bildstil-vorschau/neutral/anime.png',\n  'Traumwelt': 'bilder/bildstil-vorschau/neutral/traumwelt.png',\n  'Knete':     'bilder/bildstil-vorschau/neutral/knete.png',\n  'Voxel':     'bilder/bildstil-vorschau/neutral/voxel.png'\n};\nconst bildstilFromWebhook = $('Webhook: Geschichte anfordern').first().json.body?.Bildstil || prev.imageStyle || 'Cartoon';\nconst styleRefPath = STYLE_REFS[bildstilFromWebhook] || STYLE_REFS['Cartoon'];\nconst styleRefUrl = `https://rala84.github.io/lesekumpel/${styleRefPath}`;\n\nconst visualLock = prev.visualLock || prev.characterReference || '';\nconst imageStylePositive = prev.imageStylePositive || \"children's book watercolor illustration, soft pastel colors, consistent rendering across all panels of this story: same line weight, same color palette, same character proportions and facial features\";\nconst imageStyleNegative = prev.imageStyleNegative || \"no text, no watermarks, no extra limbs, no duplicate props, no floating objects, no mixed art styles, no style drift\";\nconst imageCount = prev.imageCount || 1;\nconst sceneRules = Array.isArray(prev.sceneRules) ? prev.sceneRules : [];\n\nconst PLAUSIBILITY_INVARIANTS = [\n  \"Humans (if present in VISUAL LOCK) appear only in plausible settings; humans cannot be underwater, in lava, in outer space without a suit, inside walls, or sharing the same physical space as wild animals in their hostile habitat.\",\n  \"For underwater animals (dolphin, whale, fish, octopus), if a human is in VISUAL LOCK, the human OBSERVES from a boat, pier, shore, or aquarium glass — never swims alongside the animal.\",\n  \"For polar, glacier, volcano, jungle or space settings, humans wear plausible gear OR are positioned at a safe vantage point.\",\n  \"If VISUAL LOCK lists ONLY animals or objects (no humans), do NOT add a human observer to any scene — the scene shows only the animals/objects in their natural setting.\"\n];\nconst allRules = [...sceneRules, ...PLAUSIBILITY_INVARIANTS];\nconst rulesBlock = allRules.map((r, i) => `${i+1}. ${r}`).join('\\n');\n\nconst sceneUserPrompt = `You are a scene-slot compiler for a children's book illustrator. You receive a fixed VISUAL LOCK (characters, props, setting) and your job is to choose ${imageCount} story moment(s) and fill a small action/composition slot per moment. You do NOT describe characters, outfits, props or settings — those come from the VISUAL LOCK and are inserted verbatim downstream.\n\nVISUAL LOCK (do not paraphrase, do not list here — it is inserted automatically into every final prompt):\n${visualLock}\n\nSCENE INVARIANTS (global rules that apply to EVERY scene as constraints, NOT as actions to depict):\n${rulesBlock}\n\nART STYLE ANCHOR (positive, supplementary to a reference image attached at render time):\n${imageStylePositive}\n\nSTORY TEXT (paragraphs are numbered, 0-based; choose paragraphIndex per scene to match the moment):\n${(prev.storyText || '').split(/\\n\\n+/).map((p,i)=>`[${i}] ${p}`).join('\\n\\n')}\n\nPARAGRAPH-INDEX RULES (read carefully — these are validated):\n\nparagraphIndex is the 0-based index of the EXACT paragraph in STORY TEXT that DESCRIBES the moment shown in this image. The image will be rendered IMMEDIATELY ABOVE that paragraph in the published story.\n\nHOW TO CHOOSE: read the scene's momentSummary, then locate the paragraph whose words actually describe that action. That paragraph's [N] is the paragraphIndex.\n\nHARD RULES (every scene must satisfy ALL of these):\n1. paragraphIndex >= 1. NEVER use 0. Stories must always begin with prose. If a scene would illustrate paragraph [0], set paragraphIndex = 1 instead and pick a moment that fits paragraph [1].\n2. paragraphIndex < total number of paragraphs in STORY TEXT.\n3. paragraphIndex values are DISTINCT across scenes — no two scenes share the same paragraphIndex.\n4. paragraphIndex values are STRICTLY INCREASING across scenes (scene 1 < scene 2 < scene 3). Scenes follow the story chronologically.\n\nEXAMPLE A (6-paragraph story, 3 scenes):\n  [0] Setup\n  [1] First action — the heroine finds the object\n  [2] Build-up\n  [3] Climax — she returns the object\n  [4] Resolution\n  [5] Reflection\n  → Scene 1 (finding) paragraphIndex=1\n  → Scene 2 (returning) paragraphIndex=3\n  → Scene 3 (reflecting) paragraphIndex=5\n\nEXAMPLE B (4-paragraph story, 2 scenes):\n  [0] Setup\n  [1] Main action begins\n  [2] Resolution\n  [3] Reflection\n  → Scene 1 paragraphIndex=1\n  → Scene 2 paragraphIndex=2\n\nEXAMPLE C (3-paragraph story, 1 scene):\n  [0] Setup\n  [1] Action\n  [2] End\n  → Scene 1 paragraphIndex=1  (the single image shows the main action, never above paragraph 0)\n\nVERIFY before output: each scene's momentSummary must describe content from its chosen paragraph. If they don't match, fix paragraphIndex.\n\nTASK: Output ONLY a JSON array with exactly ${imageCount} objects. Pick ${imageCount} distinct moment(s) from the story that together cover the story arc. Each scene shows exactly ONE moment — never combine two moments, never show the same character twice.\n\nEach object has this shape (no other keys):\n{\n  \"scene\": <1-based number>,\n  \"momentSummary\": \"<one English sentence naming the single story moment this scene depicts>\",\n  \"paragraphIndex\": <integer — see PARAGRAPH-INDEX RULES above, must be >= 1, distinct, strictly increasing>,\n  \"action\": \"<the action verb, e.g. 'reaching for', 'running across', 'kneeling beside'>\",\n  \"pose\": \"<short English describing body pose, e.g. 'feet slightly apart, arms outstretched'>\",\n  \"camera\": \"<camera angle + framing, e.g. 'eye-level medium shot, frontal' or 'low-angle wide shot'>\",\n  \"characters_present\": [\"<name>\", \"<name>\"],\n  \"props_shown\": [ { \"name\": \"<prop name from VISUAL LOCK>\", \"hand\": \"left | right | both | none\" } ],\n  \"setting_focus\": \"<short English noting which part of the SETTING ANCHOR is in frame, e.g. 'foreground waves, distant horizon'>\",\n  \"mood\": \"<one adjective, e.g. 'curious' or 'triumphant'>\",\n  \"framingType\": \"<exactly one of: overview | detail | interaction | habitat | establishing | reaction — must be UNIQUE across all ${imageCount} scenes>\",\n  \"invariantCheck\": \"<one English sentence asserting this scene respects every SCENE INVARIANT above>\",\n  \"compositionCheck\": \"<one English sentence asserting this scene is a full-bleed square 1:1 image with painted scene reaching all four corners, no white margin, no inner matte, no frame>\"\n}\n\nFRAMING DIVERSITY (CRITICAL — failing this produces ${imageCount} near-identical images):\nSome stories revolve around a single subject or repeated activity (e.g. an animal in one habitat, a character doing one thing). Even then, the ${imageCount} scenes MUST show the topic from visually distinct angles. Pick ${imageCount} different framingType values from this menu:\n\n  - overview     → wide framing, full context visible, distant camera, subject small in frame\n  - detail       → tight close-up on ONE feature, body part or single action; near camera; rest of body/scene cropped out\n  - interaction  → two or more named characters relating to each other in the same frame\n  - habitat      → subject is small/medium and the environment dominates the composition (landscape feel)\n  - establishing → mid-distance view that introduces the situation, often with negative space\n  - reaction     → focus on a face/expression or emotional response, eye-level\n\nYou may NOT reuse the same pose phrasing across scenes. If two scenes describe the same physical posture (\"vertical logging posture\", \"sitting at the desk\", \"standing with arms outstretched\"), you have failed this constraint — rewrite so each scene has a uniquely different physical configuration AND a different framingType. Body part visible, distance from camera, and field of view must all shift between scenes.\n\nHARD CONSTRAINTS (never violate):\n- You MAY NOT include outfit/hair/eyes/skin/body/fur/clothing descriptions. Those live ONLY in VISUAL LOCK.\n- You MAY NOT include character age, height or species in your output. Those live ONLY in VISUAL LOCK.\n- You MAY NOT add characters not listed in VISUAL LOCK.\n- You MAY NOT show the same named character twice in one scene.\n- \"characters_present\" must be a strict subset of the names that appear as CHARACTER #n in the VISUAL LOCK.\n- \"props_shown.name\" must match a PROP #n name from the VISUAL LOCK; if unsure, return an empty array.\n- camera, pose AND framingType MUST be unique across scenes; characters_present MAY repeat across scenes (same character in different moments).\n- paragraphIndex MUST be distinct AND strictly increasing AND >= 1 — see PARAGRAPH-INDEX RULES above.\n\nPLAUSIBILITY (final check before output — every scene must pass):\n- Inspect the CHARACTER REFERENCE: are there humans, animals, both, or only objects?\n- If ONLY animals are listed: NO scene may add a human. The image shows animals in their natural habitat, period.\n- If humans are listed: setting must be a place where they could plausibly exist. No humans underwater (use boat/pier/aquarium glass instead), no humans in lava, no humans in vacuum.\n- For wild-animal stories (ocean, polar ice, jungle), if a human is in CHARACTER REFERENCE, the human is on a safe vantage point — never inside the animal's habitat alongside it.\n\nOutput ONLY the JSON array, no markdown, no explanation.`;\n\nreturn [{ json: { ...prev, sceneUserPrompt, styleRefUrl } }];\n"
        },
        "id": "prep-scenes",
        "name": "Bildszenen vorbereiten",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3872,
          704
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "image-loop",
        "name": "Bild-Loop",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          4592,
          704
        ]
      },
      {
        "id": "gemini-image",
        "name": "Gemini: Bild generieren",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4816,
          544
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/images/generations",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"gpt-image-2\",\n  \"prompt\": {{ JSON.stringify($json.imagePrompt) }},\n  \"size\": \"1024x1024\",\n  \"quality\": \"low\",\n  \"moderation\": \"low\",\n  \"n\": 1\n}",
          "options": {
            "timeout": 120000
          }
        },
        "credentials": {
          "openAiApi": {
            "id": "l6uYdixlS8PjMxDD",
            "name": "OpenAi account"
          }
        }
      },
      {
        "id": "extract-image",
        "name": "Bild-Daten extrahieren",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          5040,
          544
        ],
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "f0d39971-03d3-4f10-8369-0f0549dd8869",
                "name": "data",
                "value": "={{ typeof $json.data === 'string' ? $json.data : ($json.data && $json.data[0] && $json.data[0].b64_json ? $json.data[0].b64_json : '') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "RaLa84",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "ass-elternkreis-nwm",
            "mode": "list",
            "cachedResultName": "ass-elternkreis-nwm",
            "cachedResultUrl": "https://github.com/RaLa84/ass-elternkreis-nwm"
          },
          "filePath": "={{ $('Szenen parsen').all()[$('Bild-Loop').context.currentRunIndex]?.json.imageGithubPath }}",
          "fileContent": "={{ $json.data }}",
          "commitMessage": "=Bild: {{ $('Szenen parsen').all()[$('Bild-Loop').context.currentRunIndex]?.json.imageFilename }}"
        },
        "id": "github-image-upload",
        "name": "GitHub: Bild hochladen",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          5264,
          544
        ],
        "credentials": {
          "githubOAuth2Api": {
            "id": "WBP07xjckQiul5s7",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {},
        "id": "only-one-item",
        "name": "Nur 1 Item",
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          4592,
          864
        ]
      },
      {
        "id": "if-skip-images",
        "name": "skipImages?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3990,
          704
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.skipImages }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "probe-prep",
        "name": "Probe vorbereiten",
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          4368,
          880
        ],
        "parameters": {
          "maxItems": 1
        }
      },
      {
        "id": "probe-gpt-image",
        "name": "Probe: gpt-image-2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4528,
          880
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/images/generations",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"gpt-image-2\",\n  \"prompt\": {{ JSON.stringify($json.imagePrompt) }},\n  \"size\": \"1024x1024\",\n  \"quality\": \"low\",\n  \"moderation\": \"low\",\n  \"n\": 1\n}",
          "options": {
            "timeout": 120000
          }
        },
        "credentials": {
          "openAiApi": {
            "id": "l6uYdixlS8PjMxDD",
            "name": "OpenAi account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "probe-eval",
        "name": "Probe auswerten",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4688,
          880
        ],
        "parameters": {
          "jsCode": "// Auswertung der Probe-Generierung mit gpt-image-2.\n// Bei Erfolg: erste Szene erhält den Probe-b64 (wird wiederverwendet),\n// Bei Misserfolg: alle Szenen werden mit Gemini-Fallback markiert.\nconst probeResp = $input.first()?.json || {};\nconst probeSuccess = !!(probeResp && probeResp.data && probeResp.data[0] && probeResp.data[0].b64_json);\nconst probeB64 = probeSuccess ? probeResp.data[0].b64_json : null;\n\nconst allItems = $('Szenen parsen').all().map(it => it.json);\nif (allItems.length === 0) {\n  return [];\n}\n\nif (probeSuccess) {\n  return allItems.map((item, idx) => ({\n    json: {\n      ...item,\n      useFallback: false,\n      prefilledB64: idx === 0 ? probeB64 : null,\n      probeOutcome: 'openai-success',\n      imageModel: 'gpt-image-2'\n    }\n  }));\n} else {\n  return allItems.map(item => ({\n    json: {\n      ...item,\n      useFallback: true,\n      prefilledB64: null,\n      probeOutcome: 'openai-blocked',\n      imageModel: 'gemini-2.5-flash-image'\n    }\n  }));\n}\n"
        }
      },
      {
        "id": "gen-switch",
        "name": "Generator-Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          4720,
          704
        ],
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.prefilledB64 }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "notEmpty",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "prefilled"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.useFallback }}",
                      "rightValue": false,
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "openai"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "gemini"
          }
        }
      },
      {
        "id": "set-prefilled",
        "name": "Set: prefilled b64 als data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4880,
          400
        ],
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "dd549b32-40d5-49f0-aefb-aae6f2d9e86b",
                "name": "data",
                "value": "={{ $json.prefilledB64 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "gemini-fallback-image",
        "name": "Gemini Fallback Bild",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4880,
          880
        ],
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
          "sendHeaders": true,
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [\n      { \"inlineData\": { \"mimeType\": {{ JSON.stringify($json.styleRefMimeType || 'image/png') }}, \"data\": {{ JSON.stringify($json.styleRefBase64 || '') }} } },\n      { \"text\": {{ JSON.stringify($json.imagePrompt || '') }} }\n    ]\n  }]\n}",
          "options": {
            "timeout": 120000
          },
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googlePalmApi"
        },
        "credentials": {
          "googlePalmApi": {
            "id": "6COxa9BJR4aj2W2w",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "id": "extract-image-gemini",
        "name": "Bild-Daten extrahieren (Gemini)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5040,
          880
        ],
        "parameters": {
          "jsCode": "// Parst die Gemini-multimodal-Response: extrahiert die base64-Bild-Daten aus\n// candidates[0].content.parts[*].inlineData.data und setzt sie als \\$json.data\n// (kompatibel mit dem GitHub-Upload-Knoten der \\$json.data direkt nutzt)\nconst inputJson = $input.first().json;\nconst parts = inputJson?.candidates?.[0]?.content?.parts || [];\nconst imagePart = parts.find(p => p && p.inlineData && p.inlineData.data);\nif (!imagePart) {\n  throw new Error('Gemini-Response enthält kein Bild — candidates[0].content.parts hat kein inlineData');\n}\nconst data = imagePart.inlineData.data;\nreturn { json: { ...inputJson, data } };"
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"status\":\"accepted\"}",
          "options": {
            "responseCode": 202
          }
        },
        "id": "respond-immediate-001",
        "name": "Respond: Accepted",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          490,
          362
        ]
      },
      {
        "id": "style-ref-prep",
        "name": "Style-Ref vorbereiten",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4660,
          880
        ],
        "parameters": {
          "method": "GET",
          "url": "={{ $json.styleRefUrl || $('Bildszenen vorbereiten').first().json.styleRefUrl }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file",
                "outputPropertyName": "data"
              }
            },
            "timeout": 30000
          }
        }
      },
      {
        "id": "style-ref-encode",
        "name": "Style-Ref Encode",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4770,
          880
        ],
        "parameters": {
          "jsCode": "// Löst den n8n-binary-File-Pointer auf und gibt das base64 + mimeType ins json\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = buffer.toString('base64');\nconst mimeType = $input.first().binary?.data?.mimeType || 'image/png';\nreturn { json: { ...$input.first().json, styleRefBase64: base64, styleRefMimeType: mimeType } };"
        }
      }
    ],
    "connections": {
      "⚙️ Gemini (Szenen)": {
        "ai_languageModel": [
          [
            {
              "node": "🎨 Szenen-Extraktor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "🎨 Szenen-Extraktor": {
        "main": [
          [
            {
              "node": "Szenen parsen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub: Template laden": {
        "main": [
          [
            {
              "node": "HTML assemblieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML assemblieren": {
        "main": [
          [
            {
              "node": "GitHub: HTML committen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub: HTML committen": {
        "main": [
          [
            {
              "node": "Ergebnis aufbauen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ergebnis aufbauen": {
        "main": [
          [
            {
              "node": "Webhook-Antwort",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook: Geschichte anfordern": {
        "main": [
          [
            {
              "node": "Daten vorbereiten",
              "type": "main",
              "index": 0
            },
            {
              "node": "Respond: Accepted",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Story-Elemente vorbereiten": {
        "main": [
          [
            {
              "node": "🧩 Story-Elemente extrahieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⚙️ Gemini (Elemente)": {
        "ai_languageModel": [
          [
            {
              "node": "🧩 Story-Elemente extrahieren",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "🧩 Story-Elemente extrahieren": {
        "main": [
          [
            {
              "node": "Elemente parsen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Elemente parsen": {
        "main": [
          [
            {
              "node": "Bildszenen vorbereiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "✍️ Carol-Gray-Autor": {
        "main": [
          [
            {
              "node": "Geschichte parsen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⚙️ Gemini (Carol-Gray)": {
        "ai_languageModel": [
          [
            {
              "node": "✍️ Carol-Gray-Autor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Bildszenen vorbereiten": {
        "main": [
          [
            {
              "node": "skipImages?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Szenen parsen": {
        "main": [
          [
            {
              "node": "Probe vorbereiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bild-Loop": {
        "main": [
          [
            {
              "node": "Nur 1 Item",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generator-Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini: Bild generieren": {
        "main": [
          [
            {
              "node": "Bild-Daten extrahieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bild-Daten extrahieren": {
        "main": [
          [
            {
              "node": "GitHub: Bild hochladen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub: Bild hochladen": {
        "main": [
          [
            {
              "node": "Bild-Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Nur 1 Item": {
        "main": [
          [
            {
              "node": "GitHub: Template laden",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "skipImages?": {
        "main": [
          [
            {
              "node": "Nur 1 Item",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "🎨 Szenen-Extraktor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Probe vorbereiten": {
        "main": [
          [
            {
              "node": "Probe: gpt-image-2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Probe: gpt-image-2": {
        "main": [
          [
            {
              "node": "Probe auswerten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Probe auswerten": {
        "main": [
          [
            {
              "node": "Bild-Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generator-Switch": {
        "main": [
          [
            {
              "node": "Set: prefilled b64 als data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Gemini: Bild generieren",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Style-Ref vorbereiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set: prefilled b64 als data": {
        "main": [
          [
            {
              "node": "Bild-Daten extrahieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Fallback Bild": {
        "main": [
          [
            {
              "node": "Bild-Daten extrahieren (Gemini)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bild-Daten extrahieren (Gemini)": {
        "main": [
          [
            {
              "node": "GitHub: Bild hochladen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Style-Ref vorbereiten": {
        "main": [
          [
            {
              "node": "Style-Ref Encode",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Style-Ref Encode": {
        "main": [
          [
            {
              "node": "Gemini Fallback Bild",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daten vorbereiten": {
        "main": [
          [
            {
              "node": "✍️ Carol-Gray-Autor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Geschichte parsen": {
        "main": [
          [
            {
              "node": "Story-Elemente vorbereiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Raik Lasner",
    "name": null,
    "description": null
  }
}